[2019-06-04 18:48] davidpham87 opened #1 "Suggestion: Sugar for call-attr and call-attr-kw"
Hello,

First of all, this is a great project and I wish we could see it being the standard way to interact with python and Clojure!

It is only a small detail with respect to the all difficulties you might have for creating a bridge between python and Clojure, but would it make sense to create some sort of sugar/interface/macro to call functions from modules with would look like either namespace

[2019-06-04 22:16] cnuernber commented on #1
Thank you, my hope is to allow clojure and python it deeply intermix give both python and clojure people incremental and efficient pathways to work together.

I completely agree about syntax.  I would personally vote for building out namespaces so for instance a numpy namespace.  Let's see if anyone else chimes in.

[2019-06-07 08:44] ksseono opened #2 "can't import modules from virtualenv"
Thank you so much for this great project and I'm really excited of the further results :)

When I'm trying to test `keras-simple` project on my virtualenv activated in the directory, it cannot import `keras` module installed in the virtualenv but my REPL is unexpectedly killed instead.

I think this is really important support since many of python developers prefer to work in virtualenv. Is there

[2019-06-07 18:46] cnuernber commented on #2
Completely agree this is very important.  Thanks for the issue, I think this is a great next direction to work towards.  On that note, are there more things like virtualenv that we should be talking about?  I thought Conda could also setup virtual environments.

[2019-06-08 07:57] ksseono commented on #2
Thanks, @cnuernber. As you said, Conda should be an important option.
And how about pyenv? It could be little bit more tricky to deal with it comparing to do only with virtualenv, but I think most of the python developers can have the benefit of it to manage and dynamically choose various python versions even including virtualenvs through pyenv-virtualenv.

[2019-06-08 15:44] cnuernber commented on #2
I have been thinking about this and there are a few things going on here.

From within your virtualenv, what version of python are you loading?  This is one thing I am curious about; for instance is your keras compiled against python 3.5 and libpython is currently somewhat hardcoded to 3.6 this could be a cause of a hard crash.

1.  In an ideal world nothing should crash the repl.  So if it is the

[2019-06-09 14:55] cnuernber commented on #2
I just tested this with `python -m venv` and it worked fine assuming the environment was activated.

What was your pathway for testing this?  Are you still seeing crashes?

[2019-06-09 23:48] ksseono commented on #2
Thanks @cnuernber for your thoughtful answers!

I was able to execute the sample code, `run-simple-string`. I had to install python 3.6 to run libpython cause my initial python version was 3.7. For the `keras-simple`, I setup the virtualenv on the `libpython-clj` project directory and the environment was activated.

I 'assumed' the environment should be activated on the same directory where the pr

[2019-06-10 17:08] cnuernber commented on #2
Could you try setting up the system to load the python3.7 libpython once the system is activated?

I think keras and such are compiled against particular versions of python and while I can't exactly see why anything should crash from the code (the C object sizes appear the same) it is super likely that everything needs to load the same version of python.

You can set a different version of the pyt

[2019-06-11 13:21] ksseono commented on #2
I tried the way you mentioned but unfortunately I couldn't make it.

1. If I try with python3.7m set up before `initialize!` then it's failing to load library even I created a symbolic link of libpython3.7m.dylib file to my system $PATH (yes, I'm testing on macOS Mojave, v10.14.5).

2. I've found that the libpython-clj is trying to load **global** modules instead of modules installed in **virtuale

[2019-06-11 16:01] cnuernber commented on #2
OK, that is helpful but we are stuck.  I didn't try without installing numpy itself, I tried without installing keras.   I will try without numpy soon.

We need some python expert to help us out here and explain what is going on.  I don't have a mojave based laptop to work on this on.  One thing for sure is that you should be able to load a python3.7 version of the library somehow.  That is extrem

[2019-06-12 09:43] ksseono commented on #2
Ah, I should've explained more. The reason why I tested with numpy is that it's just the same issue with keras, so I had wanted to test with the other.

I don't know your developing environment but to reproduce my issue, you could uninstall keras or numpy from your environment and run the project again.

And also, I need to try to load python3.7 libraries ;)

[2019-06-12 19:19] cnuernber commented on #2
I uninstalled keras and got an exception.  I didn't try numpy though and that could be different.

Another possible pathway is to grep the JEP codebase for venv or virtualenv and see if anything turns up.

[2019-07-05 15:56] cnuernber commented on #1
This issue is solved by Alan Marazzi's [panthera](https://github.com/alanmarazzi/panthera).

[2019-07-05 15:56] #1 closed

[2019-07-08 06:26] alanmarazzi commented on #2
@ksseono where do you start the Clojure repl?

[2019-07-08 10:48] ksseono commented on #2
@alanmarazzi From the root of my project, of course.

[2019-07-08 14:36] alanmarazzi commented on #2
Before or after activating the environment? And do you do it directly from the same bash session or from an editor or IDE?

I was able to make everything work, but on conda

[2019-07-21 12:37] ksseono commented on #2
@alanmarazzi Sorry for my late response. I had tried in my emacs before and I've just run REPL in my terminal from the root of the project with python 3.6.8 activated, but I couldn't have made it. :(

But I've noticed that an error log is raised as follows:

[code]

It seems like it's trying to load `numpy` as `keras-simple.core` gives the command: `(defonce np (import-module "numpy"))`.

What are

[2019-07-22 07:43] alanmarazzi commented on #2
Do you have numpy in your env? Anyway I create a conda env, source activate it and then lein repl from the same session. I had issues with the Python version this way, but not if I have Python 3.6 and required libraries

[2019-07-23 04:38] ksseono commented on #2
@alanmarazzi I'm using python 3.6 with pyenv, and of course I had installed numpy, keras and tensorflow. I'd tested on python 3.7 env but faced the same result.

[2019-07-23 07:55] alanmarazzi commented on #2
Can you try with conda? If you don't want a bloated Anaconda install I suggest https://docs.conda.io/en/latest/miniconda.html. This would be really helpful to better understand what's going on (I'm very interested in this).

By the way, if in the meantime you want to play around there are Docker images for both [libpython-clj](https://hub.docker.com/r/alanmarazzi/libpythonclj) and [panthera](https

[2019-07-25 12:04] ksseono commented on #2
@alanmarazzi, thank you so much for your tip! I'll try sooner or later and share the result here :)

[2019-08-10 06:56] davidpham87 commented on #1
Just about syntax, we could inspire ourselves from Hy (lisp for python), for function call:

http://docs.hylang.org/en/stable/tutorial.html

They use a `#*` and `#**` for the python equivalent.

[2019-08-10 13:42] cnuernber commented on #1
The general direction I like.  Some sugar around keyword arguments would be nice; I think it might take the form of a macro or something that analyzed the argument types and if there were an odd number of arguments after the first keyword argument would default to call-kw.

This:
[code]

Would expand directly to:
[code]

What we don't have is the python compiler deciding what goes in the arglist a

[2019-08-10 14:58] cnuernber commented on #1
I should add that I know Alan has experimented with a couple different directions here and he is still working on it.  I think Panthera has a couple motivational examples.

[2019-08-10 16:03] davidpham87 commented on #1
I still believe that modules should have the namespace syntax, but I like how Alan solved the problem for numpy.

[2019-08-19 22:53] cnuernber opened #5 "Support for multiple interpreters"
The libpython system was built with incomplete support for multiple interpreters.

Filling out this support will allow one to control python from multiple threads and use some serializable communication format (like pickle or json) to communicate python objects between interpreters.

The rules for libpython w/r/t threading are fairly clearly written on their [threading API](https://docs.python.org

[2019-08-19 23:06] cnuernber commented on #2
@ksseono, @alanmarazzi  - I am closing this issue with wontfix for now.  I really do appreciate this thread and the work done to try to make things work.  Environment issues are hard and extremely prevalent with python systems hence the explosion of things like conda, virtualenv, etc.  Relatively more of your environment is controlled when using JVM languages but we can't change python.

Using the

[2019-08-19 23:06] #2 closed

[2019-08-20 18:23] davidpham87 commented on #5
Hello Chris,

I would love to contribute, however, do you have any idea how we might achieve this? Is there any documentation on the knowledge one has to gather before solving the problem? From what I have seen from the source code, you already made some infrastructure for accepting multiple interpreters.

[2019-08-21 16:03] cnuernber commented on #5
@davidpham87 - The description on this issue contains documentation and links.  What specifically is missing or what didn't make sense?

[2019-08-21 16:06] davidpham87 commented on #5
Probably the issue is I have 0 experience with JNA/JNI, so I am totally lost on how I could solve the issue. Maybe I will start to explore on my own whenever I have free time and see how I can come up with a solution.

[2019-08-21 16:13] cnuernber commented on #5
OK, I understand.

We probably don't need new JNI functions.  I believe all of the ones that need to be bound (all of the ones that are linked to from the python threading page) are already done.

The very first step IMO is to read the [python threading page](https://docs.python.org/3/c-api/init.html) with the assumption that we can get to any function that we want to.  These are the base rules of

[2019-08-22 15:21] skullgoblet1089 commented on #5
1, 2:
In Python, the above makes sense. Common practice to manage an SMP process pool, then kill off memory intense workers after they complete tasks to free up memory to os. Reason for this is because the python process will always operate at last high water mark. There are other ways than JNA to achieve an SMP arrangement with Python from Clojure runtime (e.g. protobuff). So I assume the goal is

[2019-08-23 00:11] cnuernber commented on #5
@skullgoblet1089 Your analysis is greatly appreciated and seems spot-on to me.  It isn't this library's job to do multiple python processes as that equates to multiple jvm processes I think.

We can, however, gain some of the benefits of multiple processes by having multiple interpreters and if libraries doing long running operations are disciplined about releasing the GIL (like numpy and tensorfl

[2019-08-23 05:15] skullgoblet1089 commented on #5
@cnuernber , thank you. I've starting reading through libpython-clj source. Your outline of 1 - 4 makes sense to me.

#### Sub-Interpreters:
Reading through [PEP 554 -- Multiple Interpreters in the Stdlib](https://www.python.org/dev/peps/pep-0554/#abstract) helped me wrap my head around this some more.  One particular example caught my eye: [Running in a threadpool executor](https://www.python.org

[2019-08-23 13:21] cnuernber commented on #5
@skullgoblet1089

Jep is a mature system for interacting with the python interpreter but it has a couple fairly serious drawbacks:

1.  Jep interpreters have to be accessed only from the thread they were created in.
2.  JNI backend means that adding new functionality requires coding it in C.
3.  JNI backend also means that you have to install a python module via pip that is python-version dependen

[2019-08-23 17:33] skullgoblet1089 commented on #5
Thanks @cnuernber. That explanation was very helpful. Makes sense, I had a feeling there were "drawbacks", otherwise you would have already been using it. I have a takeaway to analyze the Jep sub-interpreter "pathway".

And with that, I'm ready to start writing code. To get the ball rolling, I'm going to try an approach emulating the Jep implementation in a simple test a la (2.a) below:
1. (defn c

[2019-09-08 14:29] teodorlu opened #6 "Question: on using a remote process for the Python interpreter"
Hello Chris!

I really enjoyed listening to [Scicloj meeting #4][2]. You're doing interesting work here. I feel that you're setting the Clojure community up for an interop story with Python that's similar to how we're able to make use of Java.

I have a question, if you don't mind. Per now, I can use my own interpreter of choice like this:

[code]

I would like to use `libpython-clj` to interface

[2019-10-12 22:34] cnuernber commented on #6
@teodorlu Hey Teodor!

This isn't currently possible; it would take something like launching a clojure process that did the networking stuff and the eval'ed things in a python context.

Is there a python equivalent to nrepl?  Maybe some bindings around that would do something like what you want.

[2019-10-14 09:07] teodorlu commented on #6
Thanks for the clear reply -- I wasn't aware of how `libpython-clj` did its internal work, so the clarification was really helpful to me.

Something similar to NREPL seems like the way to go.

Closing this. Thanks again!

Teodor

[2019-10-14 09:07] #6 closed

[2019-10-31 12:40] davidvoler opened #7 "Running on OSX"
I have tried running the example on osx.
The way to do that was:
sudo find / -name libpython3.6m.dylib
And taking the first results:
(alter-var-root #'libpython-clj.jna.base/*python-library* (constantly "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/config-3.6m-darwin/libpython3.6m.dylib"))

I was wondering if there is an easy way to get the current python based on the context  (

[2019-11-14 05:17] chanshunli opened #8 "support python `with` keyword"
* [PyCall.jl  pywith](https://github.com/JuliaPy/PyCall.jl)

[code]

[2019-11-14 05:21] chanshunli opened #9 "How to import a class?"
* The KeyedVectors is class, How to import it ?

[code]

[2019-11-14 21:48] cnuernber commented on #9
The class is an attribute of the module.  So you import the module and get the attribute:
[code]

[2019-11-14 22:11] cnuernber commented on #8
* [here is 'with' documentation](https://effbot.org/zone/python-with-statement.htm).

Something like:
[code]

[2019-11-14 22:27] cnuernber commented on #8
Thumbs up on the Julia interest, btw :-).

[2019-11-15 00:24] cnuernber commented on #7
I would love to figure this out.  Environments are the hardest thing about something like this and automagically finding the python to use would be fantastic.

I don't know the best way, however, to find the first libpython shared library on your path.

The one way might be to somehow ask the linker what library would be loaded:
* [ubuntu linker docs](https://unix.stackexchange.com/questions/22926

[2019-11-15 00:26] cnuernber commented on #7
Related to #2.

[2019-11-15 00:31] cnuernber commented on #7
On ubuntu, `ldconfig -p`  prints out the shared libraries available:

[code]

[2019-11-15 01:45] chanshunli commented on #8
Wow，Very Cool ! ! ! Thanks Chris

[2019-11-15 02:08] chanshunli commented on #8
[code]

<img width="884" alt="截屏2019-11-15上午10 06 19" src="https://user-images.githubusercontent.com/6021537/68911368-b9f85980-078f-11ea-8d76-8da90bcda0c7.png">

[2019-11-15 02:15] cnuernber commented on #8
Ahhh, the joys of native library development!  Takes me back to my days as a much younger man...

Could you attach hs_err_pid12832.log?  Seems odd that strlen would crash anything, maybe an error happened and the error reporting system is then causing a crash.

[2019-11-15 02:19] chanshunli commented on #8
## the python is here:
[code]

[2019-11-15 02:24] chanshunli commented on #8
@cnuernber I have sent the log file to your mailbox chris@techascent.com.

[code]

[2019-11-15 12:30] chanshunli commented on #9
Thanks Chris 👍 👍 💯 💯 :-p

[2019-11-15 13:04] chanshunli opened #10 "Matplotlib Error: `NSWindow drag regions should only be invalidated on the Main Thread! This will throw an exception in the future`"
* https://github.com/cnuernber/libpython-clj/blob/master/example/src/matplotlib.clj

[code]

[2019-11-15 13:06] chanshunli commented on #10
@cnuernber , My project is here: https://github.com/chanshunli/matplotlib-clj :-D

[2019-11-15 13:55] cnuernber commented on #10
Hmm.  I don't think this is fixable from the outside.  Probably you will need to use the canvas renderers for matplotlib or only use it from the main thread, not a repl thread (which would be a shame).

Good idea for a project though.

[2019-11-15 16:24] chanshunli commented on #10
I run this plot in `lein run` ，not other thread :

[code]

The Code is [here](https://github.com/chanshunli/matplotlib-clj/blob/master/src/matplotlib_clj/core.clj) :

[code]

[2019-11-15 16:29] chanshunli commented on #8
@cnuernber Have you received my mail yet? Thanks Chris :-D

[2019-11-15 16:31] cnuernber commented on #10
I found a matplotlib issue related to this:

https://github.com/matplotlib/matplotlib/issues/14304

[2019-11-15 16:40] cnuernber commented on #8
Yep, got it.  There error happens when libpython-clj detects an error in the underlying code in a call-attr call.  it tries to print it out and then bang.  My guess is there is some context for mxnet that needs to be setup that isn't getting done.
[code]

[2019-11-15 16:57] chanshunli commented on #10
Thanks @cnuernber, I use the WebAgg, it's work :-D

[code]

<img width="1036" alt="截屏2019-11-16上午12 55 15" src="https://user-images.githubusercontent.com/6021537/68960780-d89c3600-080b-11ea-85b1-e3e3dcc728fd.png">

[2019-11-15 17:15] chanshunli commented on #8
I don't know what to do after executing `with autograd.record(): {code} `, what did it do after the end.
Remove the `with` method, I don't know how to write in the mxnet.

[2019-11-15 17:48] cnuernber commented on #8
One thing that could be going on is the with statement returns the last thing.  The __exit__ happens and then the repl attempts to print the last thing that was done within the context of the `with`.   But the record has been exited by that time and this can cause a crash.  In those cases I would return `:ok` as the last statement in the with to avoid that chance.  I noticed in the python [mxnet e

[2019-11-15 17:53] chanshunli commented on #8
How to use the gdb debug it, What happened inside ` with autograd.record(): {code} ` ?

like this:

[code]

[code]

<img width="814" alt="截屏2019-11-16上午1 51 43" src="https://user-images.githubusercontent.com/6021537/68964177-af7fa380-0813-11ea-867f-6f4575b12707.png">

[2019-11-15 18:17] chanshunli commented on #8
@cnuernber Do you mean this?  => I got this Error.

[code]
<img width="830" alt="截屏2019-11-16上午2 15 31" src="https://user-images.githubusercontent.com/6021537/68965624-32eec400-0817-11ea-8d29-0a6391043773.png">

[2019-11-15 18:44] cnuernber commented on #8
Yes, that is what I meant.

The documentation link I posted above hints at what is going on.  __exit__ takes 3 additional positional arguments that I believe relate to the current in-flight exception.  This will take more work to make solid, but you could modify the macro to call (py/call-attr ~argval "__exit__" nil nil nil) for now to see how that might work.

[2019-11-15 18:50] chanshunli commented on #8
Although `with {...} ` went wrong, `x.grad` is right. When I repl the `with {...} `, the program always crashes and exits.

<img width="807" alt="貌似成功了" src="https://user-images.githubusercontent.com/6021537/68967470-5a479000-081b-11ea-9553-b1085e54e829.png">

[2019-11-15 19:24] chanshunli commented on #8
# Thanks @cnuernber  Chris, It's work good 👍 👍 👍

[code]

[2019-11-15 21:21] cnuernber commented on #8
goooaaaallll!!!!!

That is awesome :-)!!

:+1:  :100:

[2019-11-16 01:23] chanshunli commented on #8
@cnuernber 🥇 💯 👍 Can you add `with macro` to the `cnuernber/libpython-clj`  library?

[2019-11-16 15:11] cnuernber commented on #8
I will eventually.  It interacts with error handling so the 'correct' fix will involve some thinking.

[2019-11-17 19:54] cnuernber commented on #8
https://github.com/cnuernber/libpython-clj/blob/master/example/src/mxnet_autograd.clj

`with` is now included in python.clj.  And tested in the unit tests :-).  Thank you for this issue, it rocked :-)!!

[2019-11-17 19:54] #8 closed

[2019-11-17 19:55] cnuernber commented on #9
Closing.  This really is a documentation issue; maybe need more dox.

[2019-11-17 19:55] #9 closed

[2019-11-17 19:55] cnuernber commented on #10
Nice work!!

Closing as I believe this is a matplotlib issue and not a libpython-clj issue.

[2019-11-17 19:55] #10 closed

[2019-11-18 04:05] chanshunli commented on #8
@cnuernber  Good Job 👍 👍 👍 💯 💯 💯 https://clojars.org/cnuernber/libpython-clj  ,  I am updating to the 1.9 version right now.

[2019-11-18 17:33] cnuernber commented on #8
:+1: - best issue ever :-).

[2019-11-26 01:20] sogaiu opened #11 "bridged def missing from README"
Commit https://github.com/cnuernber/libpython-clj/commit/edd221dc019e178a835fec12106574bb0f6af710 appears to have removed the `def` for `bridged`:
[code]
That makes the current code in the README:

[code]

not work.

[2019-11-26 13:57] cnuernber commented on #11
Thanks for the heads up, documentation is updated!

[2019-11-26 13:57] #11 closed

[2019-12-08 13:12] PlumpMath opened #13 "Execution error (NullPointerException) at tech.jna.base/fn (base.clj:35)."
Clojure 1.10.1
user=> (ns user (:require [libpython-clj.python :as py]))
Execution error (NullPointerException) at tech.jna.base/fn (base.clj:35).
null

I'm use python 3.7 and compile project as lein uberjar.

Thanks.

[2019-12-08 15:22] jjtolton commented on #13
Can you post some more details please?  What system are you using, what version of libpython-clj, what repl, etc?

[2019-12-08 15:48] PlumpMath commented on #13
@jjtolton ah;; I'm mistake. leiningen no execute state.

[2019-12-08 15:56] jjtolton commented on #13
Great, did you get it working?  :D That's the most important thing!

[2019-12-08 16:13] PlumpMath commented on #13
{:clojure.main/message
 "Execution error (NullPointerException) at tech.jna.base/fn (base.clj:35).\nnull\n",
 :clojure.main/triage
 {:clojure.error/class java.lang.NullPointerException,
  :clojure.error/line 35,
  :clojure.error/symbol tech.jna.base/fn,
  :clojure.error/source "base.clj",
  :clojure.error/phase :execution},
 :clojure.main/trace
 {:via
  [{:type clojure.lang.Compiler$CompilerExcept

[2019-12-08 16:16] PlumpMath commented on #13
hmmm g,.g java -jar standalone can execute~*

[2019-12-08 16:18] cnuernber commented on #13
hmmm.  So running the jar standalone works but attempting to just start a repl and do a require of the main namespace into the user namespace is giving you that error?

[2019-12-08 21:42] PlumpMath commented on #13
The module will now be loaded.

next problem.
--------------------------------------------------------------------
clojure.lang.ExceptionInfo: Failed to load library
{:libname "python3.7m", :paths [[:system ["python3.7m"]] [:java-library-path ["/run/opengl-driver/lib/libpython3.7m.so" "/run/opengl-driver-32/lib/libpython3.7m.so" "/usr/java/packages/lib/libpython3.7m.so" "/usr/lib64/libpython3.7m.s

[2019-12-08 21:55] jjtolton commented on #13
Sorry you're still having trouble with this!  The next major release should be out soon and after that I think we can start to prioritize some better tutorials and "getting started" documentation.

I notice that you're using 1.17-SNAPSHOT.  That might be part of the problem.  Try with 1.12, 1.13 or 1.16 and see if that helps

[2019-12-09 17:33] cnuernber commented on #13
The nugget of information here is:
[code]

The trick would be to get the java-library-path to include the above directory when starting *or* for us to find whatever environment variable has that second pathway in it and attempt to read it and setup some state before loading python.

Closing for now but if we can keep going this direction it would be helpful.

[2019-12-09 17:33] #13 closed

[2019-12-09 17:58] cnuernber commented on #7
Closing for now as this issue has stalled.  The best solution we have for now is to use docker to control the host environment.

[2019-12-09 17:58] #7 closed

[2019-12-11 21:42] cnuernber opened #18 "Conda support"
We need help with this.  It is possible, it is a matter of figuring out the changes that conda makes to the system and what env variables the conda python shim sets up.

This is very important for newcomer experience so if you know anyone who knows how conda works or want to spend some time working with conda and libpython-clj please jump right in.

[2019-12-11 22:15] cnuernber commented on #18
Related:

* https://github.com/conda-forge/python-feedstock/issues/222
* https://github.com/JuliaPy/pyjulia/issues/185#issuecomment-433249836

[2019-12-11 23:11] cnuernber commented on #18
The best workaround I have so far:

1.  Activate your environment - `conda activate envtest`
2.  Export python home to the config prefix - `export PYTHONHOME=$(python3-config --prefix)`
3.  Explicitly load the library:
[code]

[2019-12-11 23:41] cnuernber commented on #13
@PlumpMath  - For conda specifically, I have a workaround:
https://github.com/cnuernber/libpython-clj/issues/18

[2019-12-12 07:03] PlumpMath commented on #13
I solved ^,.^ yesterday because you gave me hint. thanks.
hmm I dont like conda or venv;; because I don't like sandboxes for some reason. Like Alice in Wonderland. ^,.^;;;

[2019-12-12 07:11] PlumpMath commented on #13
Anyway, I was lucky to find this project a few days before your announcement of clojure 2019.
 I just wanted to handle Python directly from Clojure. I was lucky to find this project. Thank you for making it.

I'm working on 3D related development  company job work is clojure and clojurescript and unity3d blender webgl 3d... Onz... I hate ai & ml... cause dont know.

Unfortunately, I can't use this

[2019-12-12 12:52] jjtolton commented on #13
As of version 1.20 you can use `require-python`.  The behavior isn't documented yet because I haven't written up the tests but experiment with this:

[code]

[2019-12-12 13:01] jjtolton commented on #13
We're still actively working on the API, please feel free to join the discussion, @PlumpMath! (https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev)  I'm also learning to make games with Clojure/Script! :D

[2019-12-12 13:50] jjtolton opened #19 "Behavior of `(require-python '[module :refer :all])` might not match Clojure's `require` behavior"
Per [comment](https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/defn.20of.20intern/near/183247509) from community member it appears that `require-python`'s use of `:all` might not match Clojure's use of `:all`.  i.e., it seems that the behavior of `:all` keeps the interned symbols private.  I think it's important (for the sake of library authors and symbol exporting) t

[2019-12-12 13:53] jjtolton opened #20 "require-python's use of `:reload` flag does not match Clojure's `require` `:reload` syntax"
[code]
We should change the syntax to be consistent (and do it before the syntax percolates into code too far)

[2019-12-12 20:45] cnuernber commented on #18
Conda now works out of the box in a test with no environment variable setting like above.  Leaving issue open for a bit to get more feedback.

[2019-12-12 21:09] klausharbo commented on #18
I added support for [conda-installing Clojupyter earlier this year](https://github.com/clojupyter/clojupyter/tree/master/src/clojupyter/install/conda).   I'm not sure exactly what you'll be trying to accomlish, but some it might be useful.  Even though I only use a few of the environment variables, I added access to all of the in [env.clj](https://github.com/clojupyter/clojupyter/blob/master/src/c

[2019-12-12 21:56] cnuernber commented on #18
@klausharbo - Great to hear from you!

What we needed to do was to find the python shared libraries when conda was activated and initialize them with enough information that we can load the same python modules and you would be able to were you to activate the environment and run the python REPL.

I am having a bit of trouble full comprehending that file you linked to.   These are variables that yo

[2019-12-12 22:42] jjtolton opened #21 "Exception bridging"
**Expected**:
[code]
**Actual**: :boom:

[2019-12-12 22:43] jjtolton commented on #21
Not sure if this can be tackled low level or may need some combination of wrappers and macros, open area of research.

[2019-12-13 08:04] klausharbo commented on #18
I was probably too fast in posting - sorry for being obtuse. :-) I did struggle quite a bit in
getting to grips with Conda, and I'm not sure I understand very well even now, but I can share what
I found.

First off, I found the [Conda Deep Dive
video](https://www.anaconda.com/video/conda-deep-dive-kale-franz-anacondacon-2018/)
video helpful in explaining the fundamental concepts.  There's quite a

[2019-12-13 08:17] klausharbo commented on #18
It doesn't look like my last comment about `$CONDA_PREFIX/conda-meta/index.json` is correct.  `index.json` is a package concept, not an environment one :-(.

[2019-12-13 15:08] cnuernber commented on #18
Your perspective is correct; we are working with the runtime environment, not attempting to build a package.

[2019-12-13 21:48] cnuernber commented on #18
Next problem:
[code]

[2019-12-14 04:09] cnuernber commented on #18
Solved by using LD_LIBRARY_PATH in lein repl startup script.

[2019-12-14 18:33] jjtolton commented on #20
Suggested solution is to maintain backwards compatibility with existing code while extending syntax to allow Clojure boolean syntax of `'[foo :reload true]` and ''[foo :reload]` to mean the same thing.

[2019-12-14 18:53] jjtolton opened #25 "Provide require-python a more data driven pathway"
Currently `load-python-lib` is very procedural and therefore difficult to test.  I suggest refactoring to use a pattern of a series of functions which build up a map of information, followed by a series of procedures which take action on that map.

If the side-effecty procedures which take actions on the `load-python-lib-map` are small and well understood, it will make debugging easier and confide

[2019-12-14 18:53] jjtolton commented on #25
Depends on https://github.com/cnuernber/libpython-clj/pull/24

[2019-12-14 18:54] jjtolton commented on #19
Depends on https://github.com/cnuernber/libpython-clj/pull/24

[2019-12-14 18:58] jjtolton opened #26 "Use Python generators in Clojure transducer context"
It would be great to have a convenient syntax to allow Python generators to be in a Clojure transducing context!

[2019-12-14 21:20] #26 closed

[2019-12-14 22:17] #20 closed

[2019-12-15 14:13] jjtolton opened #29 "Namespace-class syntax for libpython-clj"
In Python, `object.method(*args, **kwargs)` is equivalent to `class.method(object, *args, **kwargs)`.

From a user perspective, the class-method-object syntax is usually indistinguishable from module-function syntax, aka, `math.sin(1)`.  A concrete example:

[code]
could just as easily be accomplished in libpython-clj via

[code]

This may require special corresponding methods such as `py/set-ns-c

[2019-12-15 14:18] jjtolton commented on #29
This will/should also play nicely with `require-python` syntax.  Aka,
[code]

[2019-12-15 16:11] #25 closed

[2019-12-15 17:49] cnuernber commented on #18
This (LD_LIBRARY_PATH) is as good as we can get:
* https://github.com/conda/conda/issues/9500#issuecomment-565829356

For a working pathway, use the [conda docker container](https://github.com/cnuernber/libpython-clj/blob/master/scripts/run-conda-docker).

[2019-12-15 17:49] #18 closed

[2019-12-15 18:02] jjtolton opened #30 "PR 28 introduced failing unit tests"
https://github.com/cnuernber/libpython-clj/pull/28 introduced two unit tests that can fail depending on how the test runner is invoked.

The tests in question occur:
* https://github.com/cnuernber/libpython-clj/blob/master/test/libpython_clj/require_python_test.clj#L112
* https://github.com/cnuernber/libpython-clj/blob/master/test/libpython_clj/require_python_test.clj#L77

The `current-ns` might c

[2019-12-15 19:29] #30 closed

[2019-12-15 22:14] #29 closed

[2019-12-16 21:07] cnuernber opened #33 "Have generic wrappers derive from appropriate ABC objects"
This avoids issues like:
[code]

[2019-12-16 21:21] jjtolton commented on #33
Can we rule out that this is unrelated?
https://bugs.python.org/issue34760

[2019-12-16 21:47] cnuernber commented on #33
No, I think it is related.  The pandas code is calling isinstance and it appears like the abc code itself is just generically forwarding to issubclass and that is a bug.
That being said, I bet of the iterator derives from ABC.Iterator that would make this issue go away.

* [pandas code](https://github.com/pandas-dev/pandas/blob/master/pandas/core/frame.py#L452)
* [abc code](https://github.com/pyth

[2019-12-16 21:57] jjtolton commented on #33
I think in this case it's fine to wrap iterators with `abc.Iterator`, but should be careful of:

1.  providing overly specific generic wrappers to Python and
2.  not try to fix Python (or Clojure's bugs) -- I think that could bite us when they fix them later

[2019-12-16 22:26] alanmarazzi opened #34 "Sequences"
Sequences (1.24+) are breaking how panthera works, basically this works:

[code]

But this doesn't:

[code]
[code]

Just as a reference, this breaks in the same way:

[code]

I'm already sanitizing user input a lot (https://github.com/alanmarazzi/panthera/blob/e16d254d7d8048af0381cbf2e3285a77db517fb2/src/panthera/pandas/utils.clj#L229) because pandas expects fully realized objects shaped in a cert

[2019-12-16 22:43] jjtolton commented on #34
[code]
`flatten` is a LazySeq.

The reason this is breaking since 1.24+ is that in 1.24+, @cnuernber changed it so that lazy seqs do not fully realize before they're passed in to Python.

[2019-12-17 13:59] cnuernber commented on #33
Agreed on both counts.

[2019-12-17 21:24] cnuernber commented on #33
https://github.com/cnuernber/libpython-clj/releases/tag/1.28

[2019-12-17 21:24] #33 closed

[2019-12-17 21:25] cnuernber commented on #34
Potentially fixed by:
https://github.com/cnuernber/libpython-clj/releases/tag/1.28

[2019-12-18 00:20] cnuernber opened #35 "alpha-load-ns-classes upgrades"
Attempted to use this with mxnet today.  Here are thoughts so far:

It worked very well and provided good documentation and discoverability.  This is awesome and a solid pathway forward.

1.  The biggest thing is the partial pathways have to work.  We can't always load everything recursively from the root down dynamically due to time constraints or just various constraints.  Some modules/classes c

[2019-12-18 11:33] #34 closed

[2019-12-18 13:22] jjtolton commented on #35
[code]

Could you try `(require-python '(mxnet mxnet.modules))`?  I would expect that should let you do `(mxnet.modules.Module/forward item batch-data)`.

[2019-12-18 13:28] jjtolton commented on #35
Regarding the rest, I'm going to suggest the following syntax, as I'm concerned getting overly clever with the `require-python` syntax and implementation will come back to bite me (as there's no way to tell _a priori_ in `(require-python 'a.b)` if `a` is a module and `b` is a class in `a` or if `a.b` represents a module along `a/b.py`).

This same problem is probably related to why Clojure solved

[2019-12-18 13:47] jjtolton commented on #34
@alanmarazzi did it work??

[2019-12-18 14:21] jjtolton commented on #35
On a little further consideration, I'm thinking:

`(require-python '[builtins :as python :import [dict]])`
will results in `dict` being a namespace distinct from `python` accessible by the current ns, whereas
`(require-python '[builtins :as python :refer-classes :all])`
and
`(require-python '[builtins :as python :refer-classes [dict]])`
will result in `python.dict` being a namespace.

[2019-12-18 14:21] jjtolton commented on #35
On a little further consideration, I'm thinking:

`(require-python '[builtins :as python :import [dict]])`
will results in `dict` being a namespace distinct from `python` accessible by the current ns, whereas
`(require-python '[builtins :as python :refer-classes :all])`
and
`(require-python '[builtins :as python :refer-classes [dict]])`
will result in `python.dict` being a namespace.

[2019-12-18 14:42] cnuernber commented on #35
The distinction between classes and modules seems oddly blurred to me.  Why can I only require modules, which then end up as namespaces but I can't require classes, which also end up as namespaces?

The reason clojure has import is so you can have a type which you then use for things like type annotations and constructors.   It specifically isn't used this way at all; if we are going to make names

[2019-12-18 15:06] cnuernber opened #36 "require-python - (minor) - possibly inconsistent syntax"
[code]

[2019-12-18 15:47] alanmarazzi commented on #34
Nope, I'm changing tests

[2019-12-18 18:52] jjtolton commented on #34
Ah sorry to hear that.  I was hoping this would fix but looks like it might
be more complex than we thought.

On Wed, Dec 18, 2019 at 10:47 AM Alan <notifications@github.com> wrote:

[2019-12-18 19:05] jjtolton commented on #35
After some discussion, the current proposal is:

- `(require-python 'module.class)` will make `module.class` available in the calling `*ns*`,
- the default behavior of invoking `(module.class/method object ...)` will be the same as `module.class.method(object, *args, **kwargs)` in Python
- `(require-python '[module.class :coerce])` will make all calls that follow the pattern `(module.class/method

[2019-12-19 17:13] jjtolton commented on #36
Yeah I was just thinking about that today.  I should probably `core.spec` that with some more helpful error messages. The spec should be `'namespace` or `(ns1 ns2)` or `(req1 [ns2 :as alias ~@etc] ~@reqs)`

[2019-12-19 17:15] jjtolton commented on #36
Proposed enhancement:  add `core.spec` pre/post conditions

[2019-12-26 15:51] cnuernber commented on #36
This seems fine to me and actually matches pretty closely what happens when I do a normal clojure require statement.

[2019-12-26 15:51] #36 closed

[2019-12-26 15:51] cnuernber commented on #35
These have all been addressed

[2019-12-26 15:51] #35 closed

[2019-12-27 18:46] jjtolton opened #39 "Bridge chars to string length 1"
expected:
[code]
actual: :boom:
[code]

[2019-12-27 18:46] jjtolton commented on #39
This comes up frequently in iteration contexts and membership tests.

[2020-01-02 19:06] cnuernber commented on #39
https://github.com/cnuernber/libpython-clj/commit/b1ea809db27782ede88174eb856b27a6dcdb95d7

[2020-01-02 19:06] #39 closed

[2020-01-09 03:32] ajpierce opened #41 "Python Interop on a (32-bit, ARM) Raspberry Pi Zero?"
Thanks for this project! I enjoyed the talk from this year's Conj and it made me want to dive right in.

My use case is somewhat unique, I think: I'm trying to use Python to drive some hardware I have soldered to the GPIO pins on a Raspberry Pi Zero. The Pi is a 32-bit ARM processor, and Python works great on it... but Python interop has been giving me a bit of trouble.

Here's what we're working

[2020-01-09 18:09] cnuernber commented on #41
Hey, thanks, an embedded use case is an interesting pathway for sure.  The entire stack trace would be helpful.  That method gets called from a lot of potential places.

On line 48 there is ensure-pyobj - I think something is nil in there and thus you are getting the exception but we need to figure out what part of the initialization process is failing.  So a full stack trace of the error would be

[2020-01-10 02:56] ajpierce commented on #41
Hi, Chris! Thanks for the prompt reply.

I don't yet have the pleasure of being able to use Clojure at my day job, so I was pleasantly surprised to learn about the `*e` variable tonight after seeing your message! I had no idea that we could extract more from the REPL when things go awry, so thank you for that 😁

[code]

Please let me know if there are any more gaps I can help fill in!

[2020-01-10 12:56] ajpierce commented on #41
To follow up on `:no-io-redirect?`, we get the same behavior as before:

[code]

[2020-01-10 19:38] cnuernber commented on #41
That stack trace did help but I am stumped a bit.  The module object created by calling 'add-module' has no `__name__` attribute which seems to be a failure in the API.

There are a few questions I have at this point.  What I am trying to do there is create a new module that holds the special python type we use to bridge things.  Without that working almost none of the system will work.

 * [this

[2020-01-10 20:33] owap commented on #41
Hi Chris, thanks again for the info!

The first thing I'm going to do is try to bypass the `__name__` check. Then, probably in parallel, I'm going to see if I can get a VM to replicate what's happening on my hardware. If I can, I'll upload it to S3 and send you a link for downloading.

If I can't virtually reproduce what's happening, I'm going to go back to Microcenter and plunk down the ten whole

[2020-01-11 19:05] cnuernber commented on #41
That is great.  One thing I noticed is that you are running in a 32 bit arm environment.  While I tried to make everything just work on 32 bit environments, I haven't tested this and so almost certainly there are things hardcoded to live in the 64 bit world.  I can work through at least getting things to work in a 32 bit vm and making sure all of that is sane which I think is a good parallel pathw

[2020-01-12 13:25] ajpierce commented on #41
I broke things!

First, let me say that my attempts to get a VM of Raspbian up and running have all resulted in failure. Part of me wonders if the issue lies in my host machine, but I haven't tried a base case of virtualizing something like Ubuntu or Debian yet. I may revisit that later.

On the "modify libpython-clj" front, I made two modifications locally:

[code]

When I attempted to start it u

[2020-01-12 20:11] dragoon000320 opened #42 "Is type check possible for Python types?"
Hi @cnuernber,
thank you for the great library. I just wonder whether is it possible to utilize type checking for Python types. Unfortunately, I haven't found any reference in a source code.
Thanks in advance

[2020-01-12 20:15] cnuernber commented on #42
I am not certain what you mean.  Python is dynamically typed so you can't do a static typecheck.

We do expose the c library function [is-instance?](https://github.com/cnuernber/libpython-clj/blob/master/src/libpython_clj/python.clj#L57) and you can require-python builtins to get the python [isinstance](https://github.com/cnuernber/libpython-clj/blob/master/src/libpython_clj/metadata.clj#L31) call

[2020-01-12 20:19] cnuernber commented on #42
Or do you mean [python static type checking](https://realpython.com/python-type-checking/)?  If you do mean this, then that is a python compiler pathway and and the support we have for that is `:reload` in require-python.

[2020-01-12 20:23] cnuernber commented on #41
I have none of those things lying around :-).  Well, probably a micro-usb cable here or there.  As I said, I think the first move is to get the entire tech stack passing unit tests (tech.jna, tech.datatype) on 32 bit platforms; I am not sure it will just yet.

In any case, this will be a push of mine coming up because I think it is interesting/useful.  Looking forward to this pathway.

[2020-01-12 20:24] cnuernber commented on #19
This is now fixed.  We use 'refer' and 'alias' now to implement `refer` and `as` in `require-python`.
Unreleased (1.31-SNAPSHOT).

[2020-01-12 20:24] #19 closed

[2020-01-12 20:59] dragoon000320 commented on #42
"is-instance?" is exactly what I wanted, thanks for quick reply

[2020-01-12 20:59] #42 closed

[2020-01-13 18:50] FongHou opened #43 "nrepl hangs with libpython-clj and pytorch"
libpython-clj seems hang nrepl if I have multiple nrepl client sessions connected to the same nrepl server (typically one from terminal, one from cursive/calva ide).

Here are some stacktraces, which show interpreter/with-gil could cause some kind of deadlock. e.g. one thread (#54) locked on java lock **<0x000000071596e020>** then block on native jna call indefinitely. All other nrepl threads that

[2020-01-13 19:59] cnuernber commented on #43
Yes, for sure this will hang.  Python is single threaded and controls this via a global mutex.  So if, in one thread, the python interpreter itself hangs on a function call then no other thread can access the python interpreter until that call returns.

Not sure what you are looking for here - we can't change the above aspect of the underlying python system.

[2020-01-13 20:22] FongHou commented on #43
I understood that. I'm just going through this tutorial https://gigasquidsoftware.com/blog/2020/01/10/hugging-face-gpt-with-clojure/. However, I don't see any code there could end up block indefinitely on python side.

[2020-01-13 20:59] FongHou commented on #43
Not knowing how GIL scope is managed between libpython-clj and other native code. In the example code I ran, torch native code also tried to lock on GIL.

[code]

[2020-01-13 21:27] cnuernber commented on #43
OK, catching up with you now.  The way the GIL works is somewhat documented [here](https://github.com/cnuernber/libpython-clj/blob/master/docs/scopes-and-gc.md).

That isn't saying there isn't a bug in there somewhere but in the documentation for the python GIL it states that you can't capture the gil in a [reentrant fashion](https://docs.python.org/3.7/c-api/init.html#thread-state-and-the-global-

[2020-01-13 21:35] FongHou commented on #43
Thank you for the explanation.

Just to log some diagnostic. I was able to reproduce the problem. This time two stacks correlated more clearly as nid=0x2ace is the same LWP 10958.

[code]

[code]

[2020-01-13 21:43] cnuernber commented on #43
Is this an issue though?  Python isn't multithreaded and it appears like you are attempting to capture the gil with two threads.  Or is it that this hangs forever in which case I think you have found something.  Can you get us access to the pathway through which this happens?  A full repro as a github repo would be really ideal as then I can of course attempt this on my machine.

[2020-01-13 22:04] FongHou commented on #43
I believe deadlock can still happen in single thread libpython-clj interpreter/with-gl usage.  Above stack traces attempt to show that as the native stack and java stack are on **the same thread**.  Does this mean we can't invoke python code that also lock on GIL (e.g. torch) within scope of libpython-clj's interpreter/with-gil even on the same thread?

[2020-01-13 22:07] cnuernber commented on #43
No, if you aren't in a libpython-clj function call then it should release the gil *assuming the garbage collector isn't attempting to release a resource*.  libpython-clj doesn't keep the gil, when you aren't using the library it should have the gil completely released.  How can you produce this example in the same thread?

I am really appreciating this thread, btw.  I think you are on to something

[2020-01-13 23:01] FongHou commented on #43
I couldn't reproduce the problem deterministic right now. Only while doing lots of interactive evals in IDE and REPL sessions with the code below. However as soon as deadlock occurs, it's the single thread that holds GIL first in interpreter/with-gil, then enters native code path that also attempt to PyGILState_Ensure (via _PyObject_GC_Malloc). As you mentioned, GIL may not be re-entrant. That nat

[2020-01-14 01:21] cnuernber commented on #43
The above is totally sufficient for me at this time. If anything I can just put things into a loop; it will eventually hang I bet.  If it doesn't hang in a loop then potentially can run it in a thread pool or something so the same code is called from multiple threads.  Will get to this soon; it is high priority.

[2020-01-14 19:39] cnuernber commented on #43
Looking at this now and collecting some thoughts.

If there was a serious problem with reentrant locking it should happen every time .. it could not ever work even in a single threaded case.  This has to be some interaction between multiple eval/repl threads and python.  So for production use and for a lot of repl uses this isn't super serious.  That said, it is still serious enough that I at leas

[2020-01-14 19:53] cnuernber commented on #43
Looking at this now and collecting some thoughts.

If there was a serious problem with reentrant locking it should happen every time .. it could not ever work even in a single threaded case.  This has to be some interaction between multiple eval/repl threads and python.  So for production use and for a lot of repl uses this isn't super serious.  That said, it is still serious enough that I at leas

[2020-01-14 20:11] cnuernber commented on #43
I think most of this is garbage collection related.  Torch may not be designed to be used from multiple threads like this.
Changing generate-text2 to this:
[code]

Note the use of `py/with-gil-stack-rc-context`.

That allowed a simple loop:
[code]

To complete.  Without that, the loop crashed my entire machine.  So there is one clue.

[2020-01-14 22:44] cnuernber commented on #43
This also worked:
[code]

Note the system/gc call before going into the pmap.  It crashed once without that.  For sure, there is some interaction with the garbage collector that is causing this behavior.  But it can be stabilized by controlling when and how it runs.  If I were to offer what I think is probably good practice here I would say do a system/gc call after you have defined your namespace

[2020-01-14 23:36] FongHou commented on #43
Thank you for looking in this!

Your analysis and native stack strace I collected look very close to https://github.com/pytorch/pytorch/issues/29065. The root case may not be on libpython-clj side.

Just FYI, https://bugs.python.org/issue37186 claims lots of python native extensions experienced deadlock issues, in particular from embedded interpreter.

[2020-01-15 19:38] FongHou commented on #43
I think this issue raises a fundamental question on how hosting embedded python interpreter should manage GIL that pontifically call into python native c extensions within the same thread's call stack.

Either
1. It's not deadlock safe for hosting app (ie. libpython-clj jvm) lock on GIL (esp. in large dynamic scope) then eval/call arbitrary python code because those python code can executes native

[2020-01-15 23:31] cnuernber commented on #43
It is interesting they release the gil.  That only has an effect if you have multiple interpreters running, correct?  If you have one interpreter then it is deep in the stack trace that is releasing/grabbing the gil and using that same interpreter to execute anything else while some c code is doing something to me seemed like betting on at least some of python to be re-entrant.  This is actually w

[2020-01-16 02:18] FongHou commented on #43
I think the strategy of embeding only one python interpreter in jvm and using java locking on top of GHIL is a sensible choice. I only wish PyEval_AcquireThread and PyEval_RestoreThread allow nested re-entrant calls within *the same thread*, rather than bluntly deadlock even if GIL already been acquired high up in the call stack (which is a typical case for embedded interpreter usage). These c-api

[2020-01-16 06:13] cnuernber commented on #43
cpython could also [allocate reentrant mutexes](https://stackoverflow.com/questions/7037481/c-how-do-you-declare-a-recursive-mutex-with-posix-threads).  There is probably a very good reason (like it isn't possible on all platforms they want to run on) for them not doing this.  But we just used to use reentrant mutexes out of habit to avoid situations like this.

[2020-01-16 14:54] jjtolton opened #44 "More consistent instance-method-attribute access"
Currently, `libpython-clj` offers syntax sugar for attribute lookup.  However, the syntax is a bit inconsistent with Clojure's idioms.

`(py/$. obj arg)` is an attribute lookup, whereas in Clojure `(. obj method)` is a a method lookup.

Additionally, according to some anonymous unscientific sources, the `$` symbol, originally invented by JavaScript, is a leading cause of carpal tunnel.

Therefore,

[2020-01-17 14:51] #44 closed

[2020-01-18 15:49] davidpham87 opened #46 "feature suggestion: supporting attribute calls with argument given in map"
Hello,

Thanks a lot for the library, it has been a real pleasure to use.

For now, we can call a function like this:

[code]
but it would be great if we could integrate a macro, say `$a**` such that we could perform
[code]
Obviously we could also do this

[code]
However, I think it would be a beneficial addition to the library.

Best regards,
David

[2020-01-18 21:10] cnuernber opened #47 "Simplify interpreter design for only one interpreter"
This is both a robustness upgrade and performance upgrade.  The current interpreter design was made as a midpoint between an single and multiple interpreter design.  We have discussed a [multiple interpreter design](https://github.com/cnuernber/libpython-clj/issues/5) at length and decided it wasn't necessary.  The best pathway past the GIL really is a subprocess and not a thread or multiple inter

[2020-01-18 21:15] cnuernber opened #48 "Allow single threaded use of Python"
Not all python libraries tolerate multithreaded access well, even when serialized by a GIL.  Some, for instance, use static/thread-local variables in a way as to make then unsafe to use from multiple threads.

 We want to make purely single threaded access possible when necessary for robustness.  It should be possible to load python and use it from an agent and guarantee all python access is from

[2020-01-19 20:33] jjtolton opened #49 "Possible regression on namespace-module symbol binding"
Reported here: https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/pandas.20query.20methods.20bug/near/186054336

[code]

[2020-01-19 22:18] jjtolton opened #50 "difference in calling conventions leads to strange behavior in pandas"
Working hypothesis:

There is a nuanced difference between the behavior of
`(f *args **kwargs)` and `(py/call-kw f args kwargs)` in some rare edge cases that seem to come up frequently in Pandas.

It seems that all the breaking pathways lead to `(f *args **kwargs)` and all the working pathways converge on `(py/call-kw f args kwargs)`

### Working

Each of the following examples converge to `py/cal

[2020-01-19 22:56] cnuernber commented on #49
This is possibly more correct behavior although I don't know.  I switched to 'alias' instead of 'intern' as that is what the actual clojure require uses:
[code]

[2020-01-20 01:17] jjtolton commented on #49
Hmm interesting point.  The Python behavior is bind the module.
[code]
The Clojure behavior is to NOT bind the namespace to a symbol
[code]
I guess we'll need to make a determination about which behavior to choose.

[2020-01-20 01:19] jjtolton commented on #49
I think we should probably default to the Clojure behavior since we will eventually be bringing on other languages (R, Julia, JavaScript, Rust) etc, and each will have their own convention.  So perhaps the default should be to stick to the Clojure convention (although personally I'd like to suggest a `:bind-ns` flag to avoid a redundant `py/import-module` call.

[2020-01-20 15:46] jjtolton opened #52 "Allow specification of Python executable"
Currently the Python3 executable path is [hardcoded](https://github.com/cnuernber/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L148) to `"python3"`.  I propose we allow the executable to be specified via `:python-executable` in `py/initialize!`.  On my system, Python3.6 always gets picked up first even though Python3.7 is available because Python3.6 is my current system alter

[2020-01-20 16:54] jjtolton commented on #46
@davidpham87 sorry for delayed response.

How would you feel about this:

`(py. obj **method arg1 arg2 arg3 ... argN kwargs)` where last argument is interpreted as a map?

That same modification would then percolate to

`(py.. obj (**method1 arg1 arg2 ... kwargs) (**method2 arg1 arg2 ... kwargs))`

or would you prefer

`(py. obj **method args kwargs)`?

I could probably also do `(py. obj method *a

[2020-01-20 17:00] jjtolton commented on #46
The last would be the most flexibly.

`(py. obj method *args)`  would be equivalent to `(py. obj method arg1 arg2 arg3 ... argN)` and this could be mixed/matched with
`(py. obj method **kwargs)` which would be equivalent to `(py. obj method :attr1 val1 :att2 :val2 ... :attrN :valN)`

[2020-01-20 17:12] gigasquid commented on #52
Whether libpython-clj works with a virtual environment has come up a lot in general questions/ interactions. I think this will be very beneficial. 🎉

[2020-01-20 20:15] jjtolton commented on #50
@cnuernber one option -- not a holistic fix, but a fix that would handle most use cases:

I can retool the functions/methods populated by `require-python` to use `(py/call-kw ...)`.  This would still lead to some inconsistencies if users access the lower level raw Python function, but I think it would handle the majority of use cases that users see.  The drawback would be a slight hit to performan

[2020-01-20 21:43] davidpham87 commented on #46
@jjtolton No problem, you have been helping me on Zulip (I am Neo). I don't know which dark magic you use in macro world, but this would be great

[code]
but I think

[code]
would be the cleanest of all. It could be just a function wrapping `py/call-attr-kw`.

But it would be great with module/function calls like

[code]

Let's wait on @cnuernber for his opinion.

[2020-01-20 22:55] #47 closed

[2020-01-21 03:58] jjtolton commented on #46
Alright after thinking it over, `(py. obj method *args **kwargs)` LITERAL syntax as a few problems.  For instance, `*args` and `**kwargs` are both valid symbol names, so then I'd need to provide an escape character -- and now things are already getting pretty messy and a bit contraventional to Clojure idioms.

I'll investigate a `(py.** method kwargs)` macro and corresponding `(py.. obj (**method

[2020-01-21 09:33] orolle commented on #52
I try to get libpython-clj work with anaconda on windows. The windows PATH environment variable for clojure.java.shell/sh is handled a little bit different compared to Linux & Mac. Thus the hardcoded "python3" makes it impossible to execute anything with clojure.java.shell/sh. Being able to parameterize the python-executable would work around windows specifics.

[2020-01-21 14:07] #52 closed

[2020-01-21 14:11] #49 closed

[2020-01-21 14:11] #48 closed

[2020-01-21 14:12] cnuernber commented on #5
Closing with wontfix for now.

[2020-01-21 14:12] #5 closed

[2020-01-22 02:15] jjtolton commented on #46
@davidpham87 please review https://github.com/cnuernber/libpython-clj/pull/57 and let me know if that looks like it will work the way you were expecting :)

[2020-01-22 06:51] davidpham87 commented on #46
Thanks a lot for the work. I really love the syntax. I think though we should not support the multiarities of theses methods as it is counterintuitive. Maybe have an alias for py/call-kw to have the two arities.

The reason it bothers me is the **method variant as change the position of the kwargs (I know it is common in Clojure, but for a specialized library, what do you think of going with the “

[2020-01-22 13:47] jjtolton commented on #46
The kwargs is always last in **, which means if you use it with just one arg, that arg will be the kwargs, which would cover your original use-case.  I figure that is the arrity that will probably be used most, but now there is an arrity that covers all options.  But I’ll ask for some more feedback and see what the consensus is

[2020-01-22 16:51] #46 closed

[2020-01-22 17:50] cnuernber commented on #50
I would like to take a careful look at this.  Everything filters through py/call-kw eventually.  The questions I have right now are twofold:
1.  Is this because of the marshalling layer on top of functions that attempts to ensure we don't deep-copy objects but we do shallow copy simple objects?
2.  Is this because the system to detect kwargs via detecting keywords in the arguments?

Basically, I w

[2020-01-23 16:23] cnuernber commented on #50
Closing this, it works with the referenced changelist.

[2020-01-23 16:23] #50 closed

[2020-01-23 17:02] cnuernber commented on #50
Screencase: https://drive.google.com/file/d/1PTXzWqNaRAiIDDZWqkeffIK2KESRWSRh/view?usp=sharing

[2020-01-23 18:14] cnuernber commented on #43
Closing this issue.  You can now use the library completely from one thread (the garbage collection queue is now cooperatively clear from the thread holding the GIL).  So with `1.32` you have both major perf and stability enhancements.  I think this issue will still happen as it is a base issue with some torch c extensions but it should be quieted as much as possible and we have a single-thread pa

[2020-01-23 18:14] #43 closed

[2020-01-23 23:57] jjtolton opened #60 "require-python syntax should provide for prefix lists (also, syntax is wrong)"
Currently there is a mismatch between `require-python` syntax and `require` syntax.

`(require '(a b c))` implies `(require 'a.b 'a.c)`.

Currently, `require-python` syntax operates in the following manner:

`(require-python '(a b c))` implies
[code]

This is incorrect.

`(require-python '(a b c))` should also imply `(require-python 'a.b 'a.c)` (which also doesn't work), and `(require-python 'a.b

[2020-01-24 02:15] stuartrexking opened #61 "Failed to load library"
I can't load the library, running in a REPL.

[code]

[2020-01-24 02:31] jjtolton commented on #61
Interesting.  I haven't tested with Python 3.8 yet, I'll give it a shot.

Also, what version of `libpython-clj` are you using?

[2020-01-24 03:36] cnuernber commented on #61
That could be a conflict with 'tech.parallel'.  Can you print dependency info?  I hit that with cnuernber/facial-rec today

[2020-01-24 05:24] stuartrexking commented on #61
It works with libpython-clj@1.32 and python 3.6.9 but be aware that pyenv doesn't create a dylib unless you set --enable-framework as a python option, which I had to do:

[code]

[2020-01-24 14:01] jjtolton commented on #61
I haven't done any testing with pyenv either.  I'll look at getting some testing setup for that.

[2020-01-24 17:09] #60 closed

[2020-01-24 17:10] cnuernber commented on #61
Given that I would like to close this bug.  We need to document this environment work in a environments.md under docs, maybe that should be the bug.

[2020-01-25 23:25] #61 closed

[2020-01-27 18:50] jjtolton opened #66 "Support for kebab-case"
Provide support for kebab case through the following `require-python` flags:

[code]

Ensure the following scenario is valid:
[code]
[code]

Cases default to Python with opt-in for kebab.

This will allow the following API access:

[code]

[2020-01-28 19:48] hiredman opened #68 "Symbols beginning or ending with '.' are reserved by Clojure"
https://clojure.org/reference/reader#_symbols says:

In particular clojure uses them as syntax sugar for `(new Whatever ...)`, this library defines several macros with names that end in '.' that for now happen to work as clojure itself doesn't enforce this reservation, but if it ever does it will break this library. And other tooling that respects this reservation breaks with this library

[2020-01-28 19:54] jafingerhut commented on #68
Or at least maybe ping Alex Miller to see if he knows what possible limitations/issues/problems he sees with current Clojure code, if any.  It may scare you enough to want to change the names :-)

[2020-01-28 20:42] cnuernber commented on #68
Good thoughts, will ask, thanks!

[2020-01-29 22:25] aaelony opened #70 "sandboxed dependency environments"
A friend who uses python regularly indicated to me
[code]

To that end I am able to do something like:
[code]
then run the examples here: https://seaborn.pydata.org/introduction.html

However, the clojure `seaborn` example will error out for me at this line: https://github.com/gigasquid/libpython-clj-examples/blob/master/src/gigasquid/seaborn.clj#L17

with

[code]

Is there a way to make it use th

[2020-01-29 22:37] jjtolton commented on #70
As of v1.33 you can do:

[code]
and
[code]
I haven't tested this with pipenv yet.  Could you try this and let me know if it works?  If not I'll change this issue to "make py/initialize! work with pipenv", if that's alright with you :)

Thank you!

[2020-01-29 22:47] jjtolton commented on #70
I should also point out that `py/initialize!` needs to be called BEFORE you `require` `[libpython-clj.require :refer [require-python]]`.  Typically what I do is I will make a separate file like this:

[code]
and then in my main namespace
[code]

[2020-01-29 22:58] aaelony commented on #70
Within the `pipenv shell` it errors out earlier than the `py` namespace:

[code]

[2020-01-29 23:04] aaelony commented on #70
yeah - it fails early:

[code]

[2020-01-29 23:15] jjtolton commented on #70
Okay, thank you!  I'm attempting to reproduce the issue locally.

[2020-01-29 23:23] aaelony commented on #70
cool, thank-you!!

[2020-01-29 23:29] jjtolton commented on #70
Okay here's what I setup.

### setup
[code]

### deps.edn
[code]

### test.clj
#### this is where I import Python
Use output of `python3.7 -m pipenv --venv` as location (plus `/bin/python`)
[code]
### Code
[code]

This worked for me.  Try following these steps and see if the issue persists.

[2020-01-29 23:33] jjtolton commented on #70
Oh, I should also mention, don't use `pipenv shell`.  That's not necessary.  Might even break something.

[2020-01-30 00:03] aaelony commented on #70
getting closer...

I get:
[code]

[2020-01-30 00:07] aaelony commented on #70
doing this first:

[code]

[2020-01-30 00:07] jjtolton commented on #70
If you're going that route make sure to split on whitespace in `clojure.java.shell/sh`.  Check the example: https://clojuredocs.org/clojure.java.shell/sh#example-542692d6c026201cdc3270ea

You could also do it the stone age way and and just copy/paste from the shell! :P

[2020-01-30 00:08] jjtolton commented on #70
`(clojure.java.shell/sh "python3.7" "-m"  "pipenv"  "--venv")`

[2020-01-30 00:40] gigasquid opened #71 "Move from lein project to deps.edn"
When working with `libpython-clj` from other projects or from journals like https://nextjournal.com/kommen/gigasquids-libpython-clj-examples, it's nice to be able to use a `:git/url` and `sha` to pin a specific commit - and not have to wait for a maven deployed version, (or have to clone the repo and install yourself.)

I'm happy to pitch in and look into converting to clojure deps and make it wor

[2020-01-30 01:05] jjtolton commented on #71
Hi @gigasquid!  Would absolutely love this as well but as far as I know, `deps.edn` simply does not support the Java class building required for `libpython-clj`.  Since you brought it up I'll do a little bit more digging just to make sure I'm not crazy.

[2020-01-30 01:14] jjtolton commented on #71
https://clojurians.slack.com/archives/C6QH853H8/p1579876343024100
![image](https://user-images.githubusercontent.com/10394611/73411549-c93d6c80-42d3-11ea-9720-a7c305d13e91.png)

As of Jan 24th 2020

Sorry!! I'd love to have this move to `deps.edn` too.  If this ever changes then happy to support that!

Maybe we can find a different way to satisfy this requirement?  Some kind of installer script pe

[2020-01-30 01:56] aaelony commented on #70
from the shell I get the same thing:

[code]

[2020-01-30 01:59] jjtolton commented on #70
Try `pipenv --venv` instead

[2020-01-30 02:00] gigasquid commented on #71
I'll look into it and ask around for options and report back :)

[2020-01-30 02:34] aaelony commented on #70
[code]
works!

or

[code]

Unfortunately though:
[code]

gives
[code]

Unclear how to unlock... perhaps chmod ?

[2020-01-30 02:35] jjtolton commented on #70
try
[code]

[2020-01-30 02:36] aaelony commented on #70
same error :(

[2020-01-30 02:38] jjtolton commented on #70
what's the value of `venv` after you do that?

[2020-01-30 02:40] jjtolton commented on #70
Tell you what, can you head over to https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/help-wanted ?  Might be able to help you a little better there.

[2020-01-30 02:41] aaelony commented on #70
there was a closing ")" missing..

on my system, I need to invoke `python3`.  Unfortunately, /usr/bin/python is python 2.7.

[code]

1. Unhandled clojure.lang.ExceptionInfo
   Failed to load library
   {:libname "python3.6m",
    :paths
    [[:system ["python3.6m"]]
     [:java-library-path
      ["/Users/aaelony/.local/share/virtualenvs/pipenv.test-QmYINU7y/bin/../lib/libpython3.6m.dylib"

[2020-01-30 02:47] jjtolton commented on #70
so from a fresh REPL

[code]
Give that a shot and see if it works

[2020-01-30 12:36] sanel commented on #71
If I may suggest, why not keep both, or generate `deps.edn` from `project.clj`? Leiningen is pretty standard, more powerful and there is [plugin](https://github.com/reifyhealth/lein-git-down) for getting dependencies from git repos.

[2020-01-30 14:48] jjtolton commented on #71
@sanel that wouldn't be an issue and we'd be happy to maintain.  Only issue is that `deps.edn` can't build `libpython-clj` because of the Java class files.  So currently there's no really any point (that I know of) to a `deps.edn` file!

[2020-01-30 14:58] cnuernber commented on #70
https://github.com/cnuernber/libpython-clj/issues/61#issuecomment-577996040

We need the shared library produced when you install the virtual env.

Really what we need is an environments.md file under docs that describes that issue and this one and the fix (if Stuart's fix works for you).

[2020-01-30 16:14] aaelony commented on #70
Not working just yet... getting `Failed to load library` as error.

[2020-01-30 16:18] cnuernber commented on #70
Did you try with the suggested env variable when installing the env?

Specifically, where is the python3.6m shared library on your system if you search?

[2020-01-30 16:45] aaelony commented on #70
I think that is the issue. I need to set the  env variable correctly.  My system is literally litered with such libs.

[code]

Unfamiliar with a good way to housekeep, hence the need for sandboxing.

[2020-01-30 17:27] cnuernber commented on #70
This is why I recommend using docker.  We have a clear example of how to use docker including mounting your local project [here](https://github.com/cnuernber/facial-rec).  Essentially docker is the most sandboxed you can get :-).

[2020-01-30 18:05] aaelony commented on #70
Totally.  I'll look into the facial-rec example you provided.

[2020-01-30 18:24] jjtolton commented on #70
I'm trying to determine if `py/initialize!` is what is crashing or if the `require-python` is causing the issue. I'm not sure where the `Failed to load library` message is coming from -- I don't think that originates directly from `libpython-clj`.

Also I wonder if this is a Mac specific issue or there's just some local environment stuff going on.  I managed to get pipenv working on Ubuntu.  If I

[2020-01-30 19:13] aaelony commented on #70
Here is the current state of progress:

[code]

[2020-01-30 21:20] gigasquid commented on #71
There is a brand spanking new template out that looks like it handles javac for deps 🎉
(ht to Alex Miller to pointing it out to me)

https://github.com/mikeananev/slib

In particular - here is the aliases to compile jars with javac and just javac alone, etc...

https://github.com/mikeananev/slib/blob/master/resources/clj/new/slib/deps.edn#L50

I haven't tried it myself yet, but if it looks like a

[2020-01-30 21:39] jjtolton commented on #71
Sure!  And I'll do the same.  I think this may not solve the `:git/url` and `:sha` requirements but a move towards `deps.edn` is certainly something I'd be in support of.  It don't expect it would be much trouble maintaining both in parallel since there's the lein plugin for `deps.edn`.

[2020-01-30 21:45] jjtolton commented on #70
I haven't tested on Python 3.8 yet.  I'll see if I can give that a shot.

[2020-01-30 22:01] jjtolton commented on #71
I can confirm that this does indeed compile `libpython-clj` successfully!  Just need a sign-off from @cnuernber on being okay to combine the plugin suggestion from @sanel with the toolset proposed by @gigasquid.  I still don't think this will allow for direct github pull downs but it could be accomplished with cloning and then running `clj -R:bg -A:javac` followed by REPL connection as normal (tes

[2020-01-30 22:06] cnuernber commented on #71
I am curious as to whether it achieves the goal of the original post - Given this plugin, can you use use a `:git/url` and `sha` to pin a specific commit.  I use the lein deps plugin elsewhere and it works fine, for sure, but it adds a small layer of indirection and if we aren't concretely getting anything out of that layer I would rather avoid it.  On the other hand, if we can get benefit at all

[2020-01-30 22:09] cnuernber commented on #70
@aaelony  - does `libpython3.8m.dylib` exist at `:java-library-path-addendum "/Users/aaelony/.local/share/virtualenvs/pipenv.test-QmYINU7y/bin/../lib"`?

If not, then my question is was the env installed with
[code]
The system things that the python shared library is installed at the above location.

[2020-01-30 22:27] gigasquid commented on #71
There are *a lot* of other benefits from deps.edn. It is becoming a popular build tool for people to use generally, has a faster start up time for repls, and has more benefits ([see Rationale](https://github.com/clojure/tools.deps.alpha)) . I think the template shown, has all the same functionality that lein is currently providing:

(From the repo)

- build jar,
- compile java sources,
- create po

[2020-01-30 22:36] cnuernber commented on #71
Well, then, Yes please :-).  Let's try it sounds worth it.

[2020-01-30 22:37] gigasquid commented on #71
Great - I'll dig in tomorrow and get a branch up for you to take a look at :)

[2020-01-31 00:52] gigasquid commented on #70
That was my thought too @aaelony  - it kinda looks like this issue https://github.com/cnuernber/libpython-clj/issues/61

[2020-01-31 02:07] jjtolton opened #72 "Make datafy/nav user extensible for arbitrary Python objects"
Provide support so that users and library authors can define the behavior of `datafy` and `nav` for Python objects.

[2020-01-31 09:55] dragoon000320 opened #74 "The fastest way to traverse python array"
Hi,

I have a question regarding python array traversing.
What is the fastest way to traverse python array? The fastest variant I came up with:
[code]
It is inefficient as I initialize a vector from input python array and after that converting that vector back to the python array.
According to benchmark, converting back to python array takes equal time that is needed to initialize vector from inpu

[2020-01-31 13:59] jjtolton commented on #74
If you could share a little bit more context then I could do some benchmarks :)

My guess thought is that this part is adding a lot of unneccessary expensive overhead:
[code]

Maybe try something like:

[code]

[2020-01-31 16:43] dragoon000320 commented on #74
Thank you for a quick reply :) Unfortunately, I already tried both implementations:
- ```map-indexed``` into ```array.array``` is two times slower than my implementation
- ```enumerate``` into ```map``` into ```array.array``` freezes the repl when lazy-seq is evaluated...

The main problem I'm solving is to find the way to traverse the python array straight away without creating intermediate cloju

[2020-01-31 17:41] jjtolton commented on #74
Do you think you could post the code that causes the freeze?  I'd like to look at that separately.

So -- in general what I will say is that overall, `libpython-clj` is heavily optimized for exploratory development and (ideally) predictable behavior perhaps at the expense of clock cycles in certain circumstances (although we're working on it).

There are a few optimizations if you're willing to sa

[2020-01-31 17:56] jjtolton commented on #74
I'd also encourage you to stop by our [help wanted](https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/help-wanted) topic.  Lots of smart folks in there.  Since you're working with numpy I'm sure we can leverage that since it's blazingly fast!

[2020-01-31 21:51] gigasquid commented on #71
@cnuernber @jjtolton here is a WIP PR - please feel free to take it for a spin and feedback is most welcome 😸

[2020-02-01 15:06] dragoon000320 commented on #74
This piece of code freezes the repl when ```audio-samples``` array is big enough:
[code]
I tried both implementations and ended up with one that relies on ```run-simple-string``` as it was the fastest one. It's approximately 25-30 times faster than my original implementation, so I am more than satisfied with performance.
I will definitely stop by help wanted topic for future research, thanks for a

[2020-02-01 15:48] jjtolton commented on #74
Glad to hear it!  One other thing I'd like to add is if you don't like the `run-simple-string` approach you can also move that code to a `.py` file and load it in with `require-python`!  You just have to make sure it's on your `PYTHONPATH`.

We're hoping in the future that library authors will provide some cool APIs for things like audio processing.  If you're interested in working on that or know

[2020-02-01 15:59] cnuernber commented on #74
Is that python array something that converts to a numpy object?   For large arrays using numpy and zerocopy pathways is going to be a lot faster plus then you can use a parallel-for type thing to mutably update all the elements in place.

[2020-02-01 23:05] #72 closed

[2020-02-01 23:07] cnuernber opened #76 "Test datafy/nav functionality with REBL"
As discussed [here](https://github.com/cnuernber/libpython-clj/pull/73).

We now have more or less generalized binding for python to datafy/nav.  We think, more or less :-).

If someone is so inclined, some testing/tutorials around annotating some python library and seeing what happens when they try to datafy/nav it via REBL would be cool.

[2020-02-02 17:39] cnuernber commented on #74
Closing this as it appears @dragoon000320 is satisfied :-).

Lots of options, run-simple-string, :reload with your own custom python module, and zerocopy pathways to get a tensor/nio buffer you can manipulate however you like.

[2020-02-02 17:39] #74 closed

[2020-02-02 17:40] cnuernber commented on #71
Closing this for now.  We will then need a build system on top of deps.edn and my current solution of using a project.clj that has the lein-deps plugin is clumsy.  We can slow-burn research on this over time as it isn't pressing.

[2020-02-02 17:40] #71 closed

[2020-02-03 19:18] jjtolton commented on #70
@cnuernber recommend closing.  Tested that pipenv works for Ubuntu (see details above).  If it doesn't work for Mac that would be a separate issue.  @aaelony if you're continuing to experience problems please visit out help-wanted topic and we'll continue to assist until you get it!

[2020-02-03 20:36] #70 closed

[2020-02-03 21:34] dragoon000320 commented on #74
@jjtolton I am currently working on implementation of clojure wrappers for some solid Python audio processing libraries. So yes I am interested in working on that :)

[2020-02-03 21:43] dragoon000320 commented on #74
@cnuernber could you please provide more info regarding zerocopy pathways and parallel-for, as I am not familiar with these. Maybe you can redirect me somewhere, where I read about it... Thank you in advance :)

[2020-02-03 21:44] cnuernber commented on #74
@dragoon000320 - Not directly but I wouldn't mind writing up a short document on how to do your exact pathway assuming 'array' is (or is convertible to without copying a the data) a numpy array.

[2020-02-04 14:19] cnuernber commented on #68
Every python user coming to Clojure will expect some level of '.' oriented interop.  In addition, anyone who knows the Clojure java interop will be familiar with the constructs that we have right now.

If I was going to be scared by things that might happen there is no way I would have attempted to embed Python in Clojure using the raw C bindings.  I talked to Alex at length about this and at some

[2020-02-04 14:19] #68 closed

[2020-02-04 14:45] cnuernber commented on #74
[code]

[2020-02-04 14:50] cnuernber commented on #74
There is a lot there that is key to getting things fast.  Using explicit typing: `(float x)` is key, don't use `^float x x`.

Also putting [*unchecked-math*](https://clojuredocs.org/clojure.core/*unchecked-math*) at the top is going to have an effect in this case.

If you want to really go fast then use the primitives from fastmath for the math.  Same outline, just require/use [fastmath](https://g

[2020-02-04 15:12] dragoon000320 commented on #74
@cnuernber Thank you for your help and effort, I will definitely try it in my code and also take a look at the tech API :)

[2020-02-04 15:19] cnuernber commented on #74
@dragoon000320 - you are welcome!

Also, there are some serious experts lurking on the zulip libpython-clj-dev area so I may have missed something or who knows but opening up the problem to more eyes will get some insightful comments I am sure.

[2020-02-06 02:36] johntwill commented on #2
I see this is marked wontfix, so I just want to confirm that current thinking is that virtualenv and pyenv are not supported, but you can use docker and install python packages into the global python inside the docker container?

[2020-02-06 14:25] cnuernber commented on #2
@johntwill - This is wontfix because we don't have a way to fix this.

virtualenv and pyenv are somewhat supported.

Please see [this issue](https://github.com/cnuernber/libpython-clj/issues/70) and [this issue](https://github.com/cnuernber/libpython-clj/issues/61#issuecomment-577996040).

Specifically, those environments don't always create a dylib.  So you may have to reinstall your env with som

[2020-02-07 04:57] jjtolton opened #78 "provide clj-new template to quickly start a libpython-clj project"
[code]
would be pretty awesome!

But as a start,
[code]
would be good too!

[2020-02-07 15:58] jjtolton commented on #78
Here's the thought process:  In the short history of `libpython-clj`, the story has always been about having the best workflow in the world.  If we can support more efficient project creation and more diverse workflows without increasing maintenance costs, we should!

Using the `lein-tools-deps` plugin in `project.clj` means we only need to update the `:deps` in `deps.edn` but `lein` commands will

[2020-02-07 16:00] jjtolton commented on #78
When we publish to clojars with the format `libpython-clj/clj-new`, that's how we get access to the syntax `clj -A:new libpython-clj ...`.  See [examples](https://clojars.org/search?q=clj-template)

[2020-02-07 21:07] johntwill commented on #2
Thank you for the reply!  I like to use pyenv with direnv.  I used that to create a pyenv virtualenv named cv-3.6.7, which was baselined from my pyenv python 3.6.7.

The steps I used to get it to work on ubuntu:
1. env PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.6.7
2. use direnv to create a pyenv virtualenv cv-3.6.7.
3. export PYTHONHOME=~/.pyenv/versions/cv-3.6.7
4. In the code:(py/i

[2020-02-08 19:59] #78 closed

[2020-02-17 00:28] jdkealy opened #80 "crashing app, how to diagnose?"
First of all, THANK YOU for building this. It's exactly what I've wanted for so long!

I'm trying to use ta-lib in my REPL to pull in various technical indicators and use matplotlib to chart the series. It works 90% of the time, but every tenth time or so, my application crashes with the below stack trace. Any idea what I should be avoiding or what can cause this? Many thanks!
[code]

[2020-02-17 23:27] cnuernber commented on #80
You are welcome but sort of figuring out the beast that is libpython with all its C glory is quite tough as you can see :-).

I would first put all the code into a `(dotimes[iter 20])` and see if that crashes reliably.  I imagine it will.

If it does not, then potentially this is a problem with a repl setup meaning outside of your control Clojure uses multiple threads for your REPL and the libpyth

[2020-02-18 00:27] cnuernber opened #81 "require-python sometimes creates conflicting symbols with clojure.core"
From the slack channel

[2020-02-20 05:31] FongHou commented on #80
I can confirm crashing. @jdkealy, would you mind try crashing branch from my folk https://github.com/FongHou/libpython-clj.git

@cnuernber, I sent you a PR, though I couldn't provide a reliably reproducible test to prove that's the root cause.

[2020-02-20 05:43] raymond-w-ko opened #83 "Possible to create a Python subclass in libpython-clj?"
Hello, I am learning about ML and trying to port https://github.com/pytorch/examples/blob/master/mnist/main.py
to libpython-clj since I love Clojure.

Quickly scanning through the code and documentation, I do not see any way to subclass the `torch.nn.Module` into your own neural net from the Clojure side. Am I missing something, or is there an example somewhere?

[2020-02-20 05:45] raymond-w-ko commented on #83
Sorry for the noise, I just saw the tests, which has the `py/create-class` fn. This should be enough for me to figure it out.

[2020-02-20 05:45] #83 closed

[2020-02-20 06:43] mharju opened #84 "Require of sys-module fails if it is the first module loaded"
Hi!

Thank you so much for this awesome library. We are currently experimenting with it and it seems to deliver big advantages for us compared to RPC through TCP/Protobuf that we have used before communicating between python and clojure-processes.

I hit a very odd issue on MacOS X, with Python 3.7.6_1 with libpython python3.7m.

If I require the `sys` module as the first requirement, it fails wit

[2020-02-20 14:30] jjtolton commented on #84
I was able to reproduce this on Linux with version 1.36.  Very interesting!  Digging in a little deeper.

[2020-02-20 14:49] cnuernber commented on #83
Let me know how that goes, no one has tried that yet.  When we bridge containers into python, we do subclass the appropriate abc classes, however, so it is lightly tested but as with anything in python we don't know how well we are really doing it.  I will say that you want to be careful to ensure your objects don't go out of scope else you may find a decref call ruining your day.

[2020-02-20 14:50] cnuernber commented on #84
Agreed, this is an interesting one.  I wonder if the sys module expects a stack frame and is just quietly exiting early when it doesn't get one.

[2020-02-20 15:13] jjtolton commented on #84
I can confirm that this is something related to `require-python`.

This works:
[code]

This will reproduce @mharju 's error

[code]

[2020-02-20 15:16] jjtolton commented on #84
A stupid hack would be we could just automatically call `import-python` when you `(require 'libpython-clj.require)` if it turns out that this is isolated to the `sys` module.

[2020-02-20 15:26] jjtolton commented on #80
@jdkealy @FongHou can you give a little more info on the setup before you got this?

1.  What's the `project.clj` and or `deps.edn`?
2.  What system are you on?
3.  How did you install Python?
4.  What code did you run to cause the error?

Thanks so much :)  Very committed to increasing stability so if you can give us these we can find a solution.

[2020-02-20 16:02] cnuernber commented on #84
Well, first let's get a bit more bug reporting discipline going :-).

The stack trace of the error is:
[code]

So it originates (in my case at least) from here:

https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/object.clj#L907

Potentially I bound to pyerr_resource incorrectly as one of these objects is nil and perhaps that is OK while I have an explicit check to gu

[2020-02-20 16:27] cnuernber commented on #84
Got a bit further.  In the metadata analysis of the sys module, we get:
[code]

[2020-02-20 16:39] jjtolton commented on #84
that's very interesting.  I think it probably has something to do with the stack frames, like you were suggesting.

[code]

I'm pretty sure the stack frames are kept in a dictionary.

[2020-02-20 16:40] jjtolton commented on #84
This might be it:

[code]

[2020-02-20 19:18] #84 closed

[2020-02-20 20:40] FongHou commented on #80
My project setup is very sample. The unusual part is the repl/ide setup. I don't use cider-jack-in. I have a persistent nrepl server running remotely on aws EC2 instance. Repl client on laptops connects to it. Those client sessions sometimes lose connections as I move from one place to another, but nrepl server is still running (sometimes even with unfinished training). Then when connecting a new

[2020-02-21 15:05] jjtolton commented on #21
Closing for now due to lack of interest.

[2020-02-21 15:05] #21 closed

[2020-02-21 15:06] jjtolton commented on #66
@cnuernber recommend closing for now due to complexity of implementation, possible confusion of API, and lack of interest

[2020-02-21 15:06] #66 closed

[2020-02-21 17:04] cnuernber commented on #80
@jdkealy - Can you try latest master and see if this is an issue?

[2020-02-21 19:35] FongHou commented on #80
I got a crash core dump again. Here are some interesting event in java hs_err.log and gdb core backtrace. It seems some kind of null pointer passed between java and python bridge.

Here are detail logs for the thread that crashed jvm. Unfortunately, there are not much clojure source level information, but it points to the code path from libpython_clj.python.bridge$generic_python_as_jvm to libpytho

[2020-02-21 23:38] bowbahdoe commented on #21
I want to chime in with some interest in at least carrying over exception type info in a way that is runtime accessable

[2020-02-21 23:56] jjtolton commented on #80
@FongHou steps to reproduce?

[2020-02-22 00:39] cnuernber commented on #80
@jjtolton - That sounds like your nil pointer issue with the soduku solver to me.

[2020-02-22 00:42] cnuernber commented on #80
@FongHou - That is really helpful.  If we run the process out of available memory then malloc returns 0.  That would create a nil in an unexpected place.  So the question I would have is is the garbage collection system working or is there an edge case where it is completely failing and then it is just a matter of time till something calls malloc which then returns a zero.

[2020-02-22 01:51] cnuernber commented on #21
Let's figure out a way to make this happen.  It was a solid suggestion.

[2020-02-22 03:56] FongHou commented on #80
The process wasn't in out of memory condition as its resident size is around 9GB. The machine has 16GB RAM, and no sign of swapping at the time of crash. All top level defn are carefully wrapped in py/with-gil-state-rc-context and I did a few py/gc! in repl, which ran fine.

Looking into _PyObject_GC_Malloc source code here https://github.com/python/cpython/blob/00e45877e33d32bb61aa13a2033e3bba370

[2020-02-22 14:47] cnuernber commented on #80
* [var to turn println log on and off](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/object.clj#L100)
* [addref](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/object.clj#L136)
* [release](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/object.clj#L159)

If you want to run for a long time you will

[2020-02-22 20:14] FongHou commented on #80
With logging enabled, it seems crashing more frequently, 1 out of 3 :(

Here is the repo https://github.com/FongHou/pyclj.git to reproduce, just run "lein run" a few times.

[2020-02-22 20:28] cnuernber commented on #80
@FongHou - this is super helpful.

I think from here I might try two things.

1.  If all decref calls are disabled does that change the problem?

2.   `(defn -main [& args] (py/initialize!) (py/import-module "numpy") (py/import-module
"torch"))` - Don't use the refer-python pathway.  We can keep trimming the problem I think by reducing the code executing by binary steps.

[2020-02-25 05:14] raymond-w-ko commented on #83
Hello, I was able to port the MNIST example from pytorch/examples successfully.
I was probably able to avoid the decref issue by making the class a root namespace definition.
The code is here: https://github.com/raymond-w-ko/techniko/blob/mnist/src/techniko/mnist.clj
The repo is here: https://github.com/raymond-w-ko/techniko/tree/mnist
I also added some instructions so hopefully it can serve as a

[2020-02-25 14:45] cnuernber opened #86 "Uberjar Woes!"
Uberjar's using require-python are currently failing.

We at least need to dig in, investigate, and document how to work around this if not fix it.

[2020-02-25 15:23] gigasquid commented on #86
Here is a minimal project to reproduce https://github.com/gigasquid/libpython-clj-uberjar-test

and the error

[code]

[2020-02-25 18:18] joinr commented on #86
Relevant pr [here](https://github.com/gigasquid/libpython-clj-uberjar-test/pull/1)

[2020-03-03 06:40] mattiasarro opened #87 "Missing function signature"
Once again, amazing project!

I was experimenting if it's possible to use [flax](https://github.com/google-research/flax/tree/prerelease) with libpython-clj. I'm pretty much asking for trouble by combining these early-stage libraries, but it's just for fun. It seems that the code below fails because the function `apply` that libpython-clj defines on the fly does not have a [Function Signature Obje

[2020-03-04 00:41] stuartrexking opened #88 "Numpy / PyTorch Array Indexing and Slicing"
How do I do Numpy style array indexing and slicing?

Numpy arrays (and PyTorch tensors) let you operate on them directly and efficiently.

As an example, how would I do something like this?

[code]

I don't want to do the indexing and slicing in the JVM. I want to do it in Python.

[2020-03-06 09:17] orolle opened #89 "Loading of (anaconda) python virtual env can fail when requireing namespaces in the wrong order"
**Given**
Using anaconda in windows (or any virtual env), I have to specify **:python-executable, :library-path** and **:windows-anaconda-activate-bat** when **initalize!** libpython-clj so that libpython-clj finds the right python environment; else it will fail.

**Cause**
When requiring **libpython-clj.require**  it requires  **libpython-clj.metadata** which calls initalize! without any options.

[2020-03-06 16:52] jjtolton commented on #89
You are doing it correctly!
I agree it would be more ideal if you could import `libpython-clj.require` and then do `py/initialize!` -- however, `require-python` needs to ask the Python runtime for a lot of information in order to correctly datafy the metadata.  Check the [offical template] and you'll see that's exactly what we're doing!

In the future we're planning the ability to add a `python.ed

[2020-03-06 16:55] jjtolton commented on #87
I'm not as familiar with `flax` -- can you include the equivalent Python code so that I can try to repro?

[2020-03-19 02:08] vxe opened #91 "Is there a function to convert python dictionaries into clojure maps?"
something like:

[code]

[2020-03-20 00:18] cnuernber commented on #91
`->jvm` will deep-convert convert almost anything from python to clojure, including maps or lists.

https://github.com/clj-python/libpython-clj/blob/master/test/libpython_clj/python_test.clj#L25

[2020-03-23 04:26] vxe commented on #91
awesome, works as expected:

[code]

[2020-03-23 04:42] vxe commented on #91
and I'm guessing `->py` to do the reverse operation, maps to dicts?

[2020-03-23 17:23] jjtolton commented on #91
Yes -- this works for simple types.  You can also specify your own behavior
using the datafy/nav protocols if you want to work with complex objects.

On Mon, Mar 23, 2020 at 12:42 AM vijay edwin <notifications@github.com>
wrote:

[2020-04-05 12:24] zendevil commented on #88
There aren't any docs on np slicing and indexing syntax. Would you please share how you wrote this example in libpython-clj?

[2020-04-05 12:54] #91 closed

[2020-04-05 12:55] cnuernber commented on #89
Closing.  Open to better solution.

[2020-04-05 12:55] #89 closed

[2020-04-05 13:11] #88 closed

[2020-04-05 13:14] cnuernber commented on #88
@zendevil - Now there is one very short document:

https://github.com/clj-python/libpython-clj/blob/master/docs/slicing.md

[2020-04-07 10:52] behrica commented on #43
I just wanted to comment here that I had a similar issue with clj-python (1.38) + pytorch + notespace.

I converted this code to clj-libpython:
https://github.com/ThilinaRajapakse/simpletransformers#minimal-start-for-binary-classification

And "playing" in the repl and executing and re-executing bits of the clojure code, especially the line which runs the training:

[code]

at certain moments, it

[2020-04-07 14:39] cnuernber commented on #43
@behrica - Thanks, more info is always very helpful.  Torch specifically (I haven't heard anything about tensorflow or mxnet) and libpython-clj have some subtle incompatibility.  No one has been able to reproduce this aside from using various stochastic methods.  This is literally the most frustrating outstanding issue.

[2020-04-07 16:12] zendevil opened #92 "Can't import these libraries when pushing to production server."
Steps to recreate:

1. Require the libraries like so:

(:require
    [libpython-clj.require :refer [require-python]]
    [tech.v2.datatype :as dtype]

)

2. Then git add ., git commit -m "your message" and finally push to heroku using, for example, git push heroku master.

3. While the code is being pushed, it will terminate and fail to push, with the following error message:
[code]

Why is this,

[2020-04-08 12:40] behrica commented on #43
@cnuernber
I have the "minimal clojure" code and a Dockercontainer which does **work** now.
It is "slightly" different them my environment where it fails.

 Failing | Working
------------ | -------------
GPU       |   CPU
Cuda 10.2  |
python 3.6.10  | Python 3.8.2

The "venvs" diifer slighly as well:

[code]
specially transformers 2.8.0 is in the "working" while transformers ins in the failing

[2020-04-08 12:45] behrica commented on #43
Should we discuss more in an other issue ?

Maybe "libpython-clj using simpletransformers sometimes crashing"

[2020-04-08 13:30] behrica opened #93 "libpython-clj using simpletransformers sometimes hanging"
As a continuation of the discussion at the end of #43

Please find here https://github.com/behrica/test-simple-transformers-clj.git

a reproducible example (including Dockerfile and clojure code)
which "fails" some times and "works sometimes".

It is a clojure + libpython-clj version of the simpletransformers minimal start for text classification, as seen here:
https://github.com/ThilinaRajapakse/

[2020-04-08 13:54] cnuernber commented on #93
Interesting issue.

One thing to try would be turn off io redirection, this can be done in the initialize step.

I wonder if python logging is doing something clever to bypass python stdout/stderr.  They could, for instance, get the actual file handle and write directly to it thus bypassing sys.stdout.

In any case, I think that would cause the output issues but it shouldn't affect the hanging iss

[2020-04-08 14:13] behrica commented on #93
Currently 8 / 10 container runs hang.

I will disable io redirection and see if it changes.

[2020-04-08 14:24] behrica commented on #93
Disable the io redirect makes the python logging appear in the "lein exec" calls.

[2020-04-08 14:36] behrica commented on #93
But the percentage of hanging is the same: 8/10

[2020-04-08 15:03] behrica commented on #93
Surrounding the whole code with
(py/with-gil-stack-rc-context

)

solves it.

10/10 containers finish with this change.

[2020-04-08 15:06] cnuernber commented on #93
It is unfortunate that is necessary but it is right now I believe.  That is the recommendation in our document about stack and gc scope; for production use cases use python from one and only one thread and surround all access with the scoping mechanism.  Not all C libraries from python are OK with being accessed from multiple threads regardless of if you serialize that access.

I feel like there i

[2020-04-08 15:20] behrica commented on #93
Fine, I saw the documentation.

What is unclear to me is, why you say that this is important for access from multiple threads (only ?)
My code does not use multiple threads..., does it ? Maybe via the gc ???

So "why" do i need to use in my case here: https://github.com/behrica/test-simple-transformers-clj/blob/master/src/test_simple_transformers_clj/core.clj
the with-gil-stack-rc-context ?

It se

[2020-04-08 15:31] cnuernber commented on #93
Carsten, if I knew the exact answer to what you are asking I would just implement the fix and we would all go on with our lives :-).  The java GC now just marks things that are out of scope but the actual cleanup-hanging-references call happens when the gil context cleans up:

https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L351

If you don't use a

[2020-04-08 15:32] behrica commented on #93
I read the text here in detail:
https://github.com/clj-python/libpython-clj/blob/master/docs/scopes-and-gc.md

and the current wording seems to suggest that the usage of "with-gil-stack-rc-context" is needed for "advanced" usage or very "specific situations".

As we saw, the following very simple code hangs in 8 / 10 cases, and it is very hard to discover why,
so I would propose to add something d

[2020-04-08 15:33] behrica commented on #93
I will as well clean up my code here : https://github.com/behrica/test-simple-transformers-clj and maybe you can link to it as a example.

[2020-04-08 15:36] cnuernber commented on #93
OK, thanks that helps a lot.  I will update the gc/scope documentation to make the wording stronger and include some text about this issue on the README so it is visible from the very start.

[2020-04-08 16:03] behrica commented on #93
Hmmmm. I have the hanging again...
After the "cleaning" of the code... in which I removed the (println) lines)

[2020-04-08 16:11] cnuernber commented on #93
This is in the docker container but you don't see this behavior in your repl?

[2020-04-08 17:02] behrica commented on #93
I am currently only trying the "docker run" to have something repeatable.

I have as well the impression that it might depend on:
- using "docker run"  vs "rocker -ti run"  vs "docker run -d "

I noticed that transformers is using the tqdm library for progress report,
which does funny stuff with the tty.
Maybe this interacts somehow with the python logging and clojure output.
(and this is differen

[2020-04-08 17:19] behrica commented on #93
Is there a way to do this any of this in libpython-clj:
https://stackoverflow.com/questions/6735917/redirecting-stdout-to-nothing-in-python

To disable python output completely ?

[2020-04-08 17:27] cnuernber commented on #93
You could do what the article suggest directly.
Something like:
`(py/set-attr (get/load-module "sys") "stdout" nil)`

[2020-04-08 21:24] behrica commented on #93
I found tow options in simpletransformers to disable multi-core.
That seems to fix it...

[code]

[2020-04-08 21:53] behrica commented on #93
Without multi processing , the with-gil-stack-rc-context is not needed, it seems.

I did 20 runs, and all passed.

So somehow libpython-clj has difficulties with code like:

[code]
from simpletransformers, even with using the with-gil-stack-rc-context

[2020-04-08 22:14] cnuernber commented on #93
That alone is a great find.

In your example you are using lein exec and just running `(use '[ns])`.  This eliminates any possible threads around requiring variables, correct?

So, ruling out actually breaking things by accessing python from more than one thread (even in namespace definition functions like `def` is a large piece and I believe you have done that.

Googling for 'embedded multiproces

[2020-04-08 22:43] behrica commented on #93
The simpletransfomer projects has 2 issues open, which ,might relate to the case here:

https://github.com/ThilinaRajapakse/simpletransformers/issues/162
https://github.com/ThilinaRajapakse/simpletransformers/issues/225

[2020-04-09 16:22] behrica commented on #93
I am wondering, if I want to embark into libpython-clj for deep learning.

What I have seen so far, is impressive, but this multiprocessor issue made me think again.

I an way I was lucky, because transformers has a configuration option to disable multiprocessor, and I could get it working.

What happens if not ?

Do I need to worry about each library if it "very deeply" uses some multiprocessor c

[2020-04-09 16:53] cnuernber commented on #93
I don't really know the answers to that and I do not think anyone really does.  Specifically about the multiprocessor module in python it obviously overlaps poorly with both clojure's base set of functionality and some details about embedded python.  Definitely running python in an embedded mode changes some important variables.

We have used mxnet for facial rec a bit and haven't had many problem

[2020-04-16 10:37] AlexAti opened #94 "Integration with 3rd application python interpreters (e.g. blender)"
(I was looking forward to control blender with clojure, so the following discussion is blender-centered, but a lot of tools integrate python for scripting, such as krita or freecad, and might benefit from something like this.)

Blender integrates its own python interpreter, and I found out that an external prompt can be provided in the cli through:

`/usr/bin/blender --python-console`

Though when

[2020-04-18 22:55] cnuernber commented on #94
Hey, I can totally understand wanting to use blender and clojure.  I think you are in for it though.

First, libpython-clj only works with python >= 3.5, and most likely >= 3.6.

Second, libpython-clj specifically is looking for a shared library it can load (it may be finding it) and then going from there.  I am not sure how blender works but they may compile everything into the executable.  Conda

[2020-04-24 17:00] Cartmanishere opened #95 "Compatibility with older clojure version"
Hi,

Is there any way to run this on a Clojure `1.8.0`.

[2020-04-24 17:27] cnuernber commented on #95
Maybe, it might take some effort or removing features.  What is your use case for using 1.8 and not upgrading to 1.10?

[2020-04-24 21:12] Cartmanishere commented on #95
I wanted to use it in a project which runs on Clojure 1.8. Of course, upgrade is an option. But if there is an easy way to use library on 1.8 as well, it would save a lot of trouble.

[2020-04-24 22:04] cnuernber commented on #95
Honestly I haven't tried to compile `tech.datatype` with 1.8.  That would be the sticker; if that didn't work then there is no easy way.

[2020-04-25 08:09] Cartmanishere commented on #95
I checked `tech.datatype` and `tech.parallel` from the perspective of running on clojure 1.8.

More than them, I think the problematic part is that `require.clj` uses `datafy` and `nav` which isn't available on clojure 1.8.

Unfortunately after this exploration, I don't see a way to run this on clojure 1.8.

[2020-04-27 10:23] Cartmanishere commented on #95
I was able to get it working on Clojure 1.8 after changing some code in `tech.parallel`, `tech.datatype` and `libpython-clj`.

[2020-04-27 10:23] #95 closed

[2020-04-28 00:56] jjtolton commented on #94
Ahh this seems like such a cool idea!  If you're looking for something practical, cut your losses.  But if you want to shave some yacks, this could be a great time!  Check out this function here: https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L29

make sure that

[code]
returns something sensical from the console.  If that doesn't work, nothing els

[2020-04-28 01:22] jjtolton commented on #94
Okay I did some investigation because I was curious.  Unfortunately blender is going the "wrong way" for libpython-clj :( :( :(

Blender is a C program that starts a Python interpreter.  The only way to make this work would be for Blender to start a JVM which would execute Clojure and from there we could start libpython-clj.  There are versions of blender with recent Python -- mine is Python3.7.

[2020-04-28 20:25] nahuel commented on #94
I think Blender + Clojure REPL can be a killer combination. Asking without knowing about the internals of libpython-clj, how feasible do you think is to modify it to run a python script like:

[code]
so you can start the JVM from an unmodified Blender and not the other way around.

[2020-04-29 18:05] cnuernber commented on #94
https://pythonhosted.org/javabridge/ may be another direction.

Or potentially using graal native image to load a shared library of things.

Both pretty interesting! :-).

[2020-04-30 13:22] jjtolton commented on #94
The feasibility is "feasible" but not the amount of work it would take is not really possible while we're holding down full-time jobs :(

The three possible approaches that come to mind are:

1) an RPC style interface like you and @cnuernber described,
2) a surjective mapping of Python bytecode to JVM bytecode,
3) python bindings for JVM like in Rust: https://github.com/PyO3/pyo3

Unfortunately, a

[2020-05-01 10:21] lccambiaghi opened #96 "Support virtual environments created by poetry/pipenv"
Hi, first of all THANK YOU for your amazing work. I am a Data Scientist working with Python trying to start working with Clojure and your library is the most important reason that pushed me to attempt this jump (the second most important reason being Panthera, developed by Alan).

I am trying to set up your library with my python environment. I use pyenv to manage python versions and poetry to man

[2020-05-06 20:19] cnuernber commented on #96
I have a questions - What OS are you using?

That lib suffix- `libpython3.7m.a` - That looks like a static library.  libpython-clj can only be used with shared libraries so those should have a `.so` or `.dylib` or `.dll` suffix.  Is there a python library in there with that suffix?

I found this documentation on pyenv:
https://github.com/pyenv/pyenv/wiki#how-to-build-cpython-with-framework-support

[2020-05-06 22:04] lccambiaghi commented on #96
I compiled pyenv with support for shared libraries and updated the command to:
[code]

Now I get this error:
[code]

[2020-05-07 17:16] aviflax opened #97 "Segfault when reloading"
I was working in my REPL on a tool that’s using a Python library… when I reloaded the namespace I was working on, it worked just fine. But when I passed `:reload-all` to `require`, it attempted to reload all the libpython-clj namespaces, and their dependencies, and then the JVM segfaulted.

I’m using version 1.40 from clojars with Clojure 1.10.1.536 on OpenJDK 13.0.2+8 on MacOS 10.15.4.

<details>

[2020-05-07 18:16] cnuernber commented on #96
OK, so that encodings library may require another shared library.

What I had to for Conda was set LD_LIBRARY_PATH before I start clojure:

https://github.com/clj-python/libpython-clj/blob/master/scripts/conda-repl

[2020-05-07 18:18] cnuernber commented on #97
This could be hard to track down :-).  We keep track of some global variables and for instance you can't reinitialize the python interpreter twice.  So reloading the base python interpreter namespace...I could see that segfaulting.

[2020-05-07 18:28] jjtolton commented on #96
Additionally you might try not including `:library-path`.  Your `:python-executable` will inform `libpython-clj` where its executable is, so try removing that parameter.

[2020-05-07 21:01] aviflax commented on #97
That makes sense. I’m only a casual user so I have no opinion or preference here… I reported this because I thought you might want to know about it.

That said, it occurs to me that it’s not uncommon for Clojurists to call `require` with `reload-all` so it might be worth a little effort, if possible, to support this case. I don’t have the slightest clue what’s happening in the namespaces `libpytho

[2020-05-10 13:53] lccambiaghi commented on #96
@cnuernber I have tried to export that env variable but I still get:
[code]

@jjtolton that also did not work:
[code]

[2020-05-11 15:54] kopos opened #98 "Add support for python 3.8"
In `src/libpython_clj/jna/base.clj`, the dynamic vars `*python-library-names*` is set to `["python3.7m" "python3.6m"]`.

Please add `python3.8m` to this vec.

[2020-05-12 01:03] cassc commented on #98
Hi, you can specify paths for your python version in `py/initialize!`:

`(defn init-python! []
  (py/initialize! :python-executable "/usr/bin/python3.8"
                  :library-path "/usr/lib/libpython3.8.so"))

(defonce python-initer (delay (init-python!)))

@python-initer
`

[2020-05-12 06:13] kopos commented on #98
The logs seem to indicate that `libpython` is automatically detecting the `lib-version` as `3.8`. But fails loading...

[code]

[2020-05-12 06:13] kopos commented on #98
Thanks @cassc.

Setting the `python-executable` and `library path` while explicitly initializing py works fine!

[code]

[2020-05-13 02:51] kopos commented on #98
Hi @cassc

Is this not an issue? The default initialisation seems to detect ‘3.8’ correctly but fails loading it...

[2020-05-14 23:34] jjtolton commented on #98
Hiya @kopos !  I can't tell if your issue is resolved or not?

[2020-05-15 00:34] jjtolton commented on #96
@lccambiaghi I have some time this weekend, I'll try to dive in a little deeper.

[2020-05-15 00:35] jjtolton commented on #98
@kopos if you still can't get it working I have some time this weekend and I'll try to dig a little deeper

[2020-05-15 01:32] cnuernber commented on #96
@lccambiaghi - in addition the one pathway we have that is repeatable and works is to use a dockerized development setup.

Have you seen the [facial rec demo](https://github.com/cnuernber/facial-rec/tree/master/src/facial_rec)?  In that case I use a docker container to ensure that issues like this one don't come up.  Really that is a best pathway; use docker.  I don't believe that anything else is

[2020-05-15 04:58] kopos commented on #98
Hi @jjtolton ,

Thank you for reviewing this.

1. The fix by explicitly setting the `python-exectuable` and `library-path` works. As shown here https://github.com/clj-python/libpython-clj/issues/98#issuecomment-627132735. In as much as getting `libpython-cli` to work with `python 3.8`, the issue is resolved.

2. The other issue, however, is that from the logs here https://github.com/clj-python/lib

[2020-05-15 08:53] lccambiaghi commented on #96
@jjtolton thank you so much for dedicating time to this, I appreciate it a lot. Please let me know if I can help you in any way. For example, I could set up a docker image with pyenv+poetry+clojure to reproduce the error if you want me to.

@cnuernber you are absolutely right, I would never go to production without a docker image and a reproducible build, I'm not quite there yet :) I have set up a

[2020-05-15 13:10] cnuernber commented on #96
That sounds good, the thing is in your instance I have no idea why it isn't working further and a lot of times these issues boil down into something specific to that user's machine.  I agree it would be nice if everything worked.

You don't need TRAMP, though.  In our example I just use straight docker and cider by mounting the local directory.  This makes all the files available to your repl.  In

[2020-05-15 13:12] cnuernber commented on #97
That is a good suggestion.  If you want to spend some time and try to fix that one go for it :-).  I personally don't use a reload pathway because of issues like these.

[2020-05-15 13:18] lccambiaghi commented on #96
Ah that sounds easier than I expected, thanks! The only (very minor) problem I have is that when I connect to a nREPL server (instead of doing cider-jack-in) I don't see the function docs in the minibuffer. Do you by chance have a solution for that as well?

[2020-05-15 13:22] cnuernber commented on #96
I believe that is fixed by the way lein is launched in the docker container:

My solution was to cut/paste the command that appears in the emacs message buffer when you do 'cider-jack-in' :-).

https://github.com/cnuernber/facial-rec/blob/master/scripts/conda-repl#L9

[2020-05-15 23:12] jjtolton commented on #98
I just want to clarify -- are you able to get it working or does this still crash for you?

[2020-05-15 23:36] jjtolton commented on #96
@lccambiaghi just curious from your comments are you more interested in poetry OR pyenv? just for the sake of not trying to tune both if you only need one.

[2020-05-15 23:39] jjtolton commented on #98
I haven't completed investigation but preliminary poking around shows that `libpython3.8m.so` isn't getting installed in the same place as `libpython3.7m.so`.  In fact ... I haven't found it at all yet.  I _have_ found `/usr/lib/x86_64-linux-gnu/libpython3.8.so.1.0`.  @cnuernber can you confirm if this does the same thing or not?  If so then we just need to tune the regex [here](https://github.com

[2020-05-15 23:43] jjtolton commented on #97
@aviflax to save some time -- it's almost certainly not the `require` namespace.  My suggestion would be to look carefully at `py/initialize!` and see what protections it uses to ensure that it does not reinitialize Python when called twice and apply them where necessary.   Then look for anything that gets implicitly loaded and, as you said, reskin it with a `defonce`.  That would probably do the

[2020-05-15 23:45] jjtolton commented on #97
Also if you do all that and you can still isolate it to the `require` namespace then that's on me and I'll fix it :D

[2020-05-16 02:52] kopos commented on #98
Able to get it working by setting the config vars explicitly

[2020-05-16 06:34] kopos commented on #98
From what you've pointed out @jjtolton, as I can see the problem seems to be with `python-library-regex` fn in `libpython-clj.python.interpreter` ns

[code]

[code]

By changing the pyregex to accommodate the optional `m` `#"libpython3.8m?.so$"`, the paths are being returned correctly.

[code]

[2020-05-16 15:21] cnuernber commented on #98
@kopos - This is great, will update and produce a new version of the library.

[2020-05-16 16:12] lccambiaghi commented on #96
@cnuernber ha, that is smart! Would you mind sharing your `cider-connect-clj` function? Mine currently looks like this:
[code]

I will set up a Dockerfile with clojure+pyenv+poetry.

@jjtolton I don't have a strong preference :) one complements the other.

[2020-05-16 16:39] #98 closed

[2020-05-16 16:48] cnuernber commented on #98
Release `1.44` is up.

[2020-05-16 16:51] kopos commented on #98
Thank you @jjtolton @cassc @cnuernber 🙏

It was completely to @jjtolton ‘s credit to picking this up! 🙏

[2020-05-16 16:55] cnuernber commented on #98
@kopos - Please try it out and see.  I added python3.8 to the list of executables to try in order to build the python executable system information and then it will now look for 3.8.[so,dylib] and 3.8m.[so,dylib].

The docker container I used to test all of this is under the main repository [dockerfiles](https://github.com/clj-python/libpython-clj/blob/master/dockerfiles/Py38Dockerfile) and the ba

[2020-05-16 16:58] cnuernber commented on #96
That is interesting.  I just do `M-x cider-connect - localhost - port#`.

If you could build out a docker file under [libpython-clj/dockerfiles](https://github.com/clj-python/libpython-clj/tree/master/dockerfiles) and build/run scripts under [libpython-clj/scripts](https://github.com/clj-python/libpython-clj/blob/master/scripts/run-py38-docker) that would allow us to show new people how to do this

[2020-05-16 17:22] jjtolton commented on #96
Haven't had a chance to check yet but it's possible that release 1.44 will fix the issues with pyenv/poetry.  When I was poking around it looked like the libpython for pyenv did not conform to the regex we had at the time.  Perhaps @lccambiaghi you can give 1.44 a shot?  If not I'll poke around this evening.

[2020-05-16 18:15] lccambiaghi commented on #96
@cnuernber The `cider-connect-clj` definition I pasted is the standard one defined in cider and it is the one binded by Doom Emacs. I tried to just use the standard `cider-connect` as suggested by you but I still have the same problem that `eldoc` does not suggest me function docs in the echo area and I cannot call `cider-doc` on the symbol at point.

I will open a PR for the Dockerfile, happy to

[2020-05-16 18:36] lccambiaghi commented on #96
I have set up a quick repo here: https://github.com/lccambiaghi/docker-py-clj , I will create the scripts and open the PR soon. Should I use lein instead of tools.deps?

Well, the news is that pyenv+poetry in Docker WORKS! So it is something strange in my setup, you were right! Maybe something MacOS specific? The only obvious difference is the pyenv `.dylib` file, which in Linux is a `.so` file.

[2020-05-17 06:14] kopos commented on #98
`1.44` is working like a charm! Thank you @cnuernber

[2020-05-17 06:26] kopos commented on #92
1. How are you deploying to the production server? As an uberjar?
2. Is there any other code in your Step 1?
3. Where are you seeing the error in Step 3? Are your console or on heroku?

[2020-05-17 09:18] lccambiaghi commented on #96
Ok I managed to fix the issue! I needed to set one environment variable called PYTHONHOME.

If this is my command:
[code]

I had to set it to:
[code]

[2020-05-17 18:56] jjtolton commented on #96
This is great news!  pyenv/poetry has been on my list of annoying issues for a little bit so I'm glad it got worked out :) Thank you!

[2020-05-17 20:02] cnuernber commented on #92
Does the heroku server have python installed?  How are you controlling the heroku build/server environment?

Another problem here is going to be building the uberjar.  You have to delay calls to `require-python` till runtime; they can't happen at uberjar time (`aot: :all` can't happen, only `:aot [main.namespace]`).

The tool I think helps here is https://clojuredocs.org/clojure.core/requiring-res

[2020-05-17 20:04] cnuernber commented on #96
Yes, that is encouraging for sure.  We try to detect 'pythonhome' when we do the system info lookup, it gets encoded in python as [prefix](https://github.com/lccambiaghi/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L35) I think and I thought would get auto-inferred from the running python executable but I guess that pathway failed on your mac for some reason.

[2020-05-17 20:16] lccambiaghi commented on #96
Happy to help, hopefully it can help some future user to solve the same issue! Let's just be sure to document this corner case and not bury it in the closed issues :)

[2020-05-17 20:16] #96 closed

[2020-05-19 16:31] nahuel commented on #94
just found a project using an alternative route, CLJS inside V8 inside Python inside Blender (not using libpython-clj): https://github.com/darwin/blender-clojure

[2020-05-20 16:22] jjtolton commented on #94
This is really fascinating.  That looks fantastically complex.  The technical analogy here would be to embed the JVM in Python somehow then inject Python API's into the JVM and then wrap THOSE with libpython-clj style APIs.  (btw, NOT what libpython-clj was designed to do but could probably reuse a lot of techniques learned to do something similar in a different project w/a different scope)

I've

[2020-05-25 10:53] madeinquant opened #101 "Encounter an error when building Py38DockerFile"
Downloading https://files.pythonhosted.org/packages/03/27/e35e7c6e6a52fab9fcc64fc2b20c6b516eba930bb02b10ace3b38200d3ab/numpy-1.18.4-cp36-cp36m-manylinux1_x86_64.whl (20.2MB)
Installing collected packages: numpy
Successfully installed numpy-1.18.4
/**usr/local/bin/clj: line 6: echo: write error: Bad file descriptor**
The command '/bin/sh -c echo "deb http://fr.archive.ubuntu.com/ubuntu bionic main"

[2020-05-27 18:12] nahuel commented on #94
Another way: "Clojure to Python transpiler for scripting Blender" https://github.com/eltonlaw/donkeyblend

[2020-06-02 05:46] davidpham87 commented on #97
So what is the issue here? That py/initialize is called twice?

[2020-06-04 10:39] obiSerra opened #102 "Running on Raspbian (Raspberry-Pi 4)"
I'm having problems using the library on my RaspberryPi 4; here some details

Os:
[code]
Java
[code]
Python

[code]

When I try to run  ` (initialize!)`  or when I require a python library I get this error

[code]

(note: I have also tried to pass as argument different version of Python to `initialize!`, but I get the same error

It would be awesome to be able to leverage Clojure for IoT and physi

[2020-06-04 13:37] cnuernber commented on #102
Libpython-clj is right now compiled for 64 bit architectures.  I believe we would need to have a different set of structs for 32 bit architectures and release a different binary.

[2020-06-08 12:43] tristanstraub commented on #94
Just randomly, I've gotten it working, and now found this conversation.

https://github.com/tristanstraub/blender-clj/

It builds blender as a python module, imports via libpython-clj. I patched blender just slightly to make the GUI run in the foreground. The hardest part is not breaking blender because of how it handles operator contexts, which happens to be a normal problem even when scripting i

[2020-06-08 17:42] jjtolton commented on #94
:O

When you say "gotten it working" I'm curious what you mean...?

[2020-06-08 21:36] tristanstraub commented on #94
Running and scripted from emacs/cider. :)

https://github.com/tristanstraub/blender-clj/blob/master/screenshot.png

[2020-06-08 21:44] jjtolton commented on #94
You're controlling Blender from libpython-clj?? Or are you sending a
libpython-clj script into blender...???

On Mon, Jun 8, 2020 at 5:36 PM tristanstraub <notifications@github.com>
wrote:

[2020-06-08 22:34] cnuernber commented on #94
whoa that is sweet.

[2020-06-08 22:48] tristanstraub commented on #94
I've been controlling blender from libpython-clj. Specifically, blender is built as a python module "bpy.so", ever so slightly patched, so the GUI will be visible.
I load cider/emacs. I require libpython-clj. Then I get libpython-clj to pull in "bpy.so".
From there, I can use libpython-clj to import "bpy", which gives me access to everything the python scripting layer has available.

It is possibl

[2020-06-09 00:41] jjtolton commented on #94
whoaaaaaaaaaaaaaaa.  Can you possibly write up the steps to reproduce this?  This potentially has really significantly AWESOME consequences.  It sounds like you've somehow discovered how to get a Clojure REPL bridged with a Python Interpreter, effectively creating some sort of bidrectional control.  I'd really love to play around with this and see what else we can do with it!

[2020-06-09 01:35] tristanstraub commented on #94
@jjtolton I wouldn't say I've discovered anything, but simply glued the bits together, and made very minor changes to blender to make it fit better. Blender could already be built as a standalone python module, but it didn't allow the GUI to be visible. I would say, this is probably the only innovation, as small as it is. libpython-clj is the secret sauce that makes this possible.

So, the link ab

[2020-06-11 15:31] atisharma opened #103 "Unable to use libraries from a venv"
I would like to use a venv to manage python dependencies with libpython-clj. I have been unable to find out how to do this.

I tried the following approaches.

(A) I tried starting a repl from within a venv (using bin/activate). libpython-clj fails initialize with
`INFO: Library python3.8 found at [:system "python3.8"]
Python path configuration:
  PYTHONHOME = '/tmp/python-interop'
  PYTHONPATH =

[2020-06-11 23:07] jjtolton commented on #103
For a regular virtual environment, all you need to do is provide the full path to the python executable.

[code]
You do NOT need `bin/activate` -- it will probably cause problems.

Where did you see that docstring?  That is almost correct but not entirely.
[code]
If you are coming from Python, you would be tempted to think that this would make the value of `sys` to the Python's `sys` module.  Howe

[2020-06-15 12:02] atisharma commented on #103
This gives the same result as (A) above.

(doc require-python)

[code]

[2020-06-19 13:17] enragedginger opened #104 "REPL hangs while importing detectron2.engine module"
I'm running into an issue wherein the following require statements cause my REPL to hang.

[code]
(Note that it's the final import statement there that causes the hang, the others work fine).
Also, this works fine from the python console. It's only giving me trouble from Clojure.

My `py-config` ns looks like this:
[code]

My `project.clj` has this: `:repl-options {:init-ns my-project.py-config}`

[2020-06-19 13:22] cnuernber commented on #103
This appears to have resolved.  Closing (reopen if necessary).

[2020-06-19 13:22] #103 closed

[2020-06-19 13:25] cnuernber commented on #104
We have had issues with torch specifically in the past.  When it hangs we really need a thread dump to see what is hanging on what.

I don't use Mac but I think there is a way to get a dump of all the threads and see what is hanging on what.

[2020-06-19 13:28] cnuernber commented on #104
Also, I notice you are using anaconda.  Are you setting LD_LIBRARY_PATH before startup on the clojure repl?  You may be loading libraries from odd places.

Perhaps you can get this to happen in the conda docker container?
* scripts/run-conda-docker

Note that we explicity setup the library path to work with conda:

https://github.com/clj-python/libpython-clj/blob/master/scripts/conda-repl

[2020-06-19 13:49] enragedginger commented on #104
I uploaded the jstack report [here](https://fastthread.io/my-thread-report.jsp?p=c2hhcmVkLzIwMjAvMDYvMTkvLS1qc3RhY2sub3V0LS0xMy00Ni00MA==&). Let me know if you have any trouble accessing it. I have the original output, is there a better place for me to upload and share it?

I tried setting the LD_LIBRARY_PATH, but that didn't seem to improve my situation.

I'll try the docker approach once I get t

[2020-06-19 13:58] cnuernber commented on #104
Does mac have a an equivalent to [`lsof`](https://superuser.com/questions/310199/how-to-see-the-currently-loaded-shared-objects-in-linux)?

It would be interesting to see which libraries are loaded when it is hung.

[2020-06-19 14:57] jjtolton commented on #104
For sake of completeness as mentioned in [Zulip](https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/Hanging.20during.20require-python.20call/near/201393244), able to make the example work with the following steps:

[code]

where `requirements.txt` has been modified to:
[code]

[2020-06-19 15:05] jjtolton commented on #103
I need to update this -- thank you for pointing that out @atisharma

[2020-06-19 22:36] tristanstraub commented on #94
I've transitioned to using https://github.com/tristanstraub/clj-python-trampoline which doesn't require a patched blender build.

It does need a small modification to libpython-clj. Perhaps, with some battle testing, libpython-clj itself could take on the minor change, so that it also executes from embedded python processes.

[2020-06-19 22:54] cnuernber commented on #94
Wow so that is pretty interesting.

I am confused by couple things which is a good thing :-).

Is python shared library that libpython-clj attempts to load is the same shared library that is running as the host?  They build a jvm and host it in python but how do you ensure the symbols and such all line up?

This is really interesting and a possible next avenue of research/development here.

[2020-06-20 02:56] tristanstraub commented on #94
Yeah, it has to be the same library. I took a gamble with that since the jvm is in the same process as blender, so the dynamic loading of "libpython.so" should be idempotent, which appears to be the case.

The output from libpython looks like this:
[code]

[2020-06-22 20:06] enragedginger commented on #104
tl;dr this is working now inside of a docker container.

I could not get things working when running Python on my Mac. I tried variations on the following:
1. Updated to the latest version of Mac OS
2. Ran `csrutil disable` from recovery mode (since Mac OS prevents changes to `LD_LIBRARY_PATH`). This seemed to change nothing, but maybe I should have been setting `DYLD_LIBRARY_PATH` instead?)
3. Co

[2020-06-22 23:01] cnuernber commented on #104
That is great news!  Really nice work patiently sticking with it; Python on its own is a beast and adding docker to the mix plus Clojure... but I am really glad we are finding pathways through all the noise :-).

[2020-06-24 20:41] enragedginger commented on #104
I was wrong. Something still isn't quite right. I had everything working (or so I thought) but now it's failing in exactly the same manner as before. I'm running everything inside of Docker.

Dockerfile:
[code]

NS that gets initializes on REPL startup:
[code]

This is the ns that causes the REPL to hang
[code]

I'm using slightly modified versions of the scripts from the facial recognition repo.

[2020-06-24 21:29] cnuernber commented on #104
No ideas but probably I would want to try this.  One interesting thing would be to lsof the running process and see exactly which libraries it has loaded.

[2020-06-25 01:02] jjtolton commented on #104
I attempted to reproduce your steps @enragedginger but got stuck without a `project.clj`.  How are you connecting?  CIDER?

[2020-06-25 01:50] jjtolton commented on #104
Cautiously but optimistically I believe I have some good news for you.  I was able to replicate the issue.  I believe your IDE is not actually "hanging", but simply failing to exit.

Two things:

First of all, you forgot to include your `py-config`:
[code]
should be

[code]
Then you no longer require `source activate pyclj`.  You had to do `source activate pyclj` because your `my-project.my-ns` wa

[2020-06-25 16:20] enragedginger commented on #104
@jjtolton I managed to get things working based on what you posted, but I still don't understand *why* it's working. If I put this `:repl-options {:init-ns my-project.py-config}` in my `project.clj`, I can see that it's running properly on REPL startup. If I connect via remote REPL (I'm using Cursive in Intellij), and run `my-project.my-ns`, the first `require-python` statement executes successful

[2020-06-25 16:20] enragedginger commented on #104
Also, @cnuernber I'm putting together some `lsof` output for you

[2020-06-25 16:42] enragedginger commented on #104
I've gathered the `lsof` output. I've gathered this by using `docker exec` to create a new shell into my running container, and then using `lsof -p PID` and dumping that to a file. I ran this once for my Clojure process while it was hanging and again after running the exact same import statements from the `python3` CLI.

The intersection of these two sets of files looks like this:
[code]

The set

[2020-06-25 16:55] enragedginger commented on #104
Oh, I did one more `lsof` run for what the Clojure + libpython-clj option looks like using @jjtolton 's solution from above after the successful import. These are the lines unique to that run, not present in either of the two aforementioned `lsof` outputs:
[code]

[2020-06-25 17:29] jjtolton commented on #104
Can you be a little more specific about the actual process used?  For instance, [this](https://github.com/technomancy/leiningen/blob/master/sample.project.clj#L371) leads me to believe that `:int-ns` only applies when doing a REPL connection.  Also I'm not sure that it STARTS in that namespace -- not sure at all that it LOADS the namespace.  Does that mean it does an `in-ns`?  If so, it won't actu

[2020-06-25 18:29] enragedginger commented on #104
From what I've seen `init-ns` does evaluate the whole namespace. That is, when running `lein repl`, it was running the `py/initialize!` statement and logging the output. I was using `init-ns` only because it's in the `README.md` for libpython-clj. At this point, I think it's a good idea to move away from that.

[2020-06-25 19:43] jjtolton commented on #104
Interesting. I didn't know it was in the `README.md`!  Good feedback.  I'll look into that.

[2020-06-27 05:50] cartesian-theatrics opened #105 "Python 3.9 Doesn't Load"
Hello,

Minor issue, but thought I would note that Python 3.9 doesn't seem to work.

[code]

However, 3.8 works fine:
[code]

[2020-06-27 12:44] cnuernber commented on #105
Thanks for letting us know; looks like they removed a key function we use.

[2020-06-27 16:11] jjtolton commented on #105
Jeeze we just got 3.8 working!!  Python needs to slow down the release cadence haha

[2020-06-27 16:12] jjtolton commented on #104
@enragedginger can we close this out?

[2020-06-27 17:12] cnuernber commented on #104
This I think is another situation where accessing the python interpreter from multiple threads breaks things.  My guess is the init-ns pathway was compiling in one thread before the repl connected or something like that.  This is probably something we could discuss with the torch developers if we can get in touch with them as this issue along with like 3 previous issues have all hit hang states wh

[2020-06-28 02:40] jjtolton commented on #104
It makes sense to me that a hanging process would also make sense why the
app was failing to exit, although I'm sure there could be other
explanations as well.

On Sat, Jun 27, 2020 at 1:12 PM Chris Nuernberger <notifications@github.com>
wrote:

[2020-07-01 23:54] bdevel opened #106 "How to use async await"
I'm unable to find any documentation or examples online for how to use Python's `await` feature. Since it's syntax feature it's not clear how to call it. I'm working with the Telethon Python package which returns `<coroutine object TelegramBaseClient.connect at 0x137fc4e60>` coroutine objects.

Browsing the [asyncio](https://docs.python.org/3/library/asyncio-eventloop.html) and [Coroutines](https:

[2020-07-02 00:22] jjtolton commented on #106
This is the first time it's been requested, so behavior is currently
undocumented.  I'll take a look at it when I can.

On Wed, Jul 1, 2020 at 7:55 PM Tyler <notifications@github.com> wrote:

[2020-07-02 00:43] jjtolton commented on #106
Unfortunately unless you can persuade @Chris Nuernberger
<chris@techascent.com> to add forms for `async def` and `await`, the
best that can be done in the short term is to write creative wrappers.
Some inspiration can be found here:
https://stackoverflow.com/questions/54553907/is-there-a-way-to-call-an-async-python-method-from-c

Some time ago we had an internal discussion and no one could name a

[2020-07-02 13:49] cnuernber commented on #106
James hit on it.  Technically you can do it already, you do have to transliterate the C example in the stackoverflow question in to python-clj code but that is doable.  It is a matter of finding the attributes like `__await__` and transforming the code.  Note this is similar to what the Clojure async `go` macro does now.

That coroutine object probably has an __await__ attribute.  What happens if

[2020-07-02 15:16] jjtolton commented on #106
So defining an async function will be easy enough.  I'd be happy to add this into our `sugar` namespace, but I'm not sure how to accomplish the `await` functionality.

[code]

The question of how to do `await` seems much trickier -- unless that class definition above did what we wanted.

[2020-07-02 15:21] jjtolton commented on #106
Reading the article, is seems like it would be very possible to define an `await`able programmatically using the the techniques above.  I have no idea if the async context will translate as intended though in something hypothetical like:

[code]
but worth a shot I suppose.

[2020-07-02 17:28] bdevel commented on #106
The result of `(py/att-type-map (py. client :connect))` is:

[code]

I did try running the `__await__` function like so `(py. (py. client :connect) __await__)` but you just get back another co-routine `<coroutine_wrapper object at 0x137f36bd0>`.

FWIW, I've experimented with creating an event loop `(def loop (asyncio/new_event_loop))` and `(asyncio/gather (py. client :connect) :loop loop)` which r

[2020-07-02 21:52] bdevel commented on #106
Looks like the Telethon library can actually be turned syncronous with a magic import statement `import telethon.sync` - very subtle. Found it in the  [Telethon asyncio docs](https://docs.telethon.dev/en/latest/concepts/asyncio.html). Thanks for the help.

[2020-07-02 21:52] #106 closed

[2020-07-07 15:01] enragedginger commented on #104
So after some further investigation and helpful, well placed `println` statements, it looks like the last wave of problems loading `detectron2.engine` in this ticket were indeed the result of me impatiently connecting via remote REPL and running Python require statements before the REPL was truly ready for me.

I'm in the process of deploying my app (since the whole thing is now working end-to-end

[2020-07-07 15:01] #104 closed

[2020-07-10 13:02] cnuernber commented on #101
Are you still having this issue?  A lot of times this happens because docker fills up a volume and you need to clean out stale docker images:

https://docs.docker.com/config/pruning/

[2020-07-10 13:22] madeinquant commented on #101
Thank you. I shall try over the next few days.

[2020-07-14 00:59] zendevil opened #107 "Unable to find a nested namespace"
I have the following Python:

[code]

as:

[code]

gives:

[code]

[code]

gives compiler exception:

[code]

[2020-07-14 02:49] zendevil commented on #107
.py

[2020-07-14 02:49] #107 closed

[2020-07-14 04:25] zendevil opened #108 "Question: idiomatic use"
I'm trying to convert the following python code:

[code]

for which I have this clojure:

[code]
Is there a better way to write the clojure code that also runs efficiently?
The f-count's in the clojure case are printing much slower than pure python and the imshow's aren't showing in the clojure case.

In the clojure case, the repl just crashes after the first 250 frames, and/or gives:

[code]

[2020-07-14 14:01] cnuernber commented on #108
The first thing I would say is try to control some of the scoping of your objects.  Does this [scoping document](https://github.com/clj-python/libpython-clj/blob/master/docs/scopes-and-gc.md) help explain why you got the out of memory error?

The timings should be identical, could you time the loop in python and clojure and report those timings?

[2020-07-14 20:42] metasoarous commented on #86
Just wanted to chime in that I had to jump through the hoops in the libpython-clj-uberjar-test repo to get libpython-clj to AOT compile for use in Clojupyter, but was ultimately able to get it working. Hope to be able to make this public soon for people's reference.

Interested to hear whether folks think there's a way to fix this directly in libpython-clj.

Thanks!

[2020-07-15 04:14] FongHou commented on #97
Just a quick thought. I saw PySys_SetArgvEx at the top of stack triggered SEGV in the jvm crash log. In libpython-clj code, the only place it's called is [here](https://github.com/clj-python/libpython-clj/blob/dfd4cf58bf5311ef437b1d87194cb6a2836bfda6/src/libpython_clj/python/interpreter.clj#L468). Maybe removing that native call would reduce one possible cause of crash (I doubt PySys_SetArgv is ev

[2020-07-15 15:13] piotr-yuxuan opened #109 "Bindings for clojure.java.io"
Thank you very much for this awesome project. Given the pervasive high-quality of this project I was almost suprised that the following code fails:

[code]

Of course this is not a blocking issue as it can be done that way:

[code]

but I think it would be nice to have it. Would you accept to add it, or would you like to give pointers and accept PR regarding this?

[2020-07-15 15:38] cnuernber commented on #97
@FongHou - Nice to hear from you again :-)!

I do not think in the general case we can remove SetArgvEx.  The reason is that some python libraries reference state that is set by that variable and if it unset at all then there will be a crash.  It can be set only once ever, however, and it doesn't need to be reset.  I could be mistaken, however, but commenting it out and working like that for a whi

[2020-07-15 15:39] cnuernber commented on #109
I would definitely accept a PR, any time!

What python class is the analogue of a java.io reader?

[2020-07-15 19:07] jjtolton commented on #109
I _believe_ the analogue would be [io.TextIOWrapper](https://docs.python.org/3/library/io.html#io.TextIOWrapper) but I'm not as familiar with how a [java reader](https://docs.oracle.com/javase/7/docs/api/java/io/Reader.html) works in practice.  However the `io.TextIOWrapper` is the type of the result of `open("/some/file")`.

[2020-07-15 20:23] cnuernber commented on #109
So you would have a create a proxy implementation of io.TextIOWrapper that implemented the required functions by forwarding them to java.io.Reader - Seems tough :-).

[2020-07-15 21:22] jjtolton commented on #109
Yep.  And this falls into one of those tough philosophical areas.  Although
it seems odd, how would we know that you didn't want to pass in a literal
`java.io.Reader` into a Python function for some reason?  i.e., perhaps
keeping track of a Python list or dictionary of these readers.  It's always
a tough balance.

On Wed, Jul 15, 2020 at 4:23 PM Chris Nuernberger <notifications@github.com>
wrote:

[2020-07-15 22:45] piotr-yuxuan commented on #109
note: for the interop to be complete, it should expose a `.close` method (like a clj-land file) so that `with-open` would work.

[2020-07-15 22:51] jjtolton commented on #109
Interesting.  That would probably be an alias of the `__exit__` method from
Python.  There's already a `.close`, so perhaps that would suffice.

On Wed, Jul 15, 2020 at 6:45 PM 胡雨軒 Петр <notifications@github.com> wrote:

[2020-07-22 01:25] obohrer commented on #41
I'm having a similar issue with my raspberrypi. I ran the tests for tech.jna & tech.datatype, they do work on the pi.
[code]

[code]
(Although for tech.datatype i had to bring down the number of elements in `test/tech/v2/datatype/simple_ops_perf_test.clj` to avoid an out of memory exception).

When running `python/initialize!` it crashes the JVM
The issue seems to be in jna.concrete.module:
[code]

[2020-07-22 14:58] jelmerderonde commented on #76
Hi, just a quick note. Just started playing around with libpython-clj and came across this error when browsing some data in REBL:

[code]

Maybe this is not what you're looking for, but I thought it could help.

[2020-07-22 15:03] cnuernber commented on #76
This is what we are looking for :-) - people testing with REBL :-).

[2020-07-22 17:33] jjtolton commented on #76
I'm not actually all that familiar with REBL, could you provide some steps
to reproduce so I can check it out?  Thank you for picking this up!

On Wed, Jul 22, 2020 at 11:04 AM Chris Nuernberger <notifications@github.com>
wrote:

[2020-07-22 22:58] piotr-yuxuan opened #110 "Crash / deadlock when used in a thread pool"
Here is a minimal working example of this bug: https://github.com/piotr-yuxuan/minimal-bug

I'm trying to use a round-trip interop: I run a Clojure program which initialises a Python runtime. Within this Python runtime, I want to call some Clojure functions, so that I can reuse robust, efficient Clojure libraries I know form within Python code. This bug appeared when using [safely](https://github.

[2020-07-23 00:04] piotr-yuxuan commented on #110
Addendum: after using `jstack` on case `new-thread-hang`, it looks like it's probably a dead lock situation:
- `(py/py.. (py/import-module "MinimalBug") (call_me_baby))` acquire a lock on the interpreter
- It calls `ClojureBridge.safely`, which in turn tries invoke Clojure code and ends up evaluating `((py/as-jvm f))`.
- This latter evaluation tries to acquire the lock on the interpreter, and wait

[2020-07-23 16:46] jjtolton commented on #110
Hiya @piotr-yuxuan!  Yes it is a known issue.  Currently, multithreaded and multiprocessed Python code is not supported by libpython-clj.  Early discussions with the community indicated that the preference was to focus on single-threaded performance, so that's where we put the emphasis.  There are two workarounds.

1)  If you write the section of multithreaded code entirely in Python and then call

[2020-07-23 19:15] piotr-yuxuan commented on #110
Thank you for your quick, thorough reply. I appreciate the community-driven approach you refer to! 👍 I have a couple of feedback:

- Regarding your first point, my goal has been to be able to use some Clojure libraries from Python (here: safely). The thing is safely does nicely work almost all the time, except when thread pool is used.

- Currently in the example code a Python global variable is r

[2020-07-23 19:52] jjtolton commented on #110
A few thoughts:

First of all, there is a hope of some moonshot research: https://github.com/clj-python/libpython-clj/issues/94
I still haven't had time to investigate, but I will say WITH GREAT CAUTION AND CONSERVATISM that *potentially* this technique could be use to invert the control of the process and use Python to control Clojure (instead of Clojure controlling Python).  If that is the case,

[2020-07-23 20:47] cnuernber commented on #110
I think what is happening is just the [GIL](https://realpython.com/python-gil/#:~:text=The%20Python%20Global%20Interpreter%20Lock%20or%20GIL%2C%20in%20simple%20words,at%20any%20point%20in%20time.) is being held by one thread and then python is attempting to be called on another thread.

For the truly bold, you could potentially release the GIL in your clojure code.  Then the system *should* grab i

[2020-07-23 20:54] jjtolton commented on #110
Throw caution to the wind!!  Listen to it go wooooooosh

[2020-07-23 21:50] piotr-yuxuan commented on #110
TL;DR: YOLO mates, life is too short for caution, let's have fun instead 😉

Thanks to the two of you for these really interesting hints. Indeed I pretty much agree it is most probably a GIL issue. As suggested in the [second message](https://github.com/clj-python/libpython-clj/issues/110#issuecomment-662757184) of this thread, the deadlock can be described in generic terms as:

In more palatable,

[2020-07-23 22:39] jjtolton commented on #110
Wow!  Ambitious project.  I can't speak for @cnuernber but I can tell you the assumptions I have when I'm writing contributions for libpython-clj and when I write libpython-clj production code:

**data-first priority**

Meaning, **if** (BIG if) I were in your situation, my thoughts would be towards transmission of data back and forth between the minimal scientist rig and your resiliency rig (as op

[2020-07-23 22:58] jjtolton commented on #110
here is a very, VERY crude example of what I mean:

[code]
This is a very crude decorator but hopefully it demonstrates the point.

To be really sophisticated (aka throwing caution to the wind), if you were using `libpython-clj`, `q.put` could be a proxy for `a/offer!` and put the JSON on a Clojure core.async channel.  That could then get farmed out to one of the waiting containers.  I haven't exp

[2020-07-25 08:42] jelmerderonde commented on #76
I'm having trouble reproducing the issue. Once I encounter it again I will let you know!

[2020-07-27 12:56] lockejan commented on #2
@johntwill
I just followed the advice of @alanmarazzi and tried miniconda, after not having much success either with just pyenv and I got it finally working, with pyenv. I've never used conda with pyenv before so I'm not sure if this is a good solution, but it works.
You need the pyenv-venv plugin to handle virtual environments with pyenv https://github.com/pyenv/pyenv-virtualenv

I tested it with

[2020-07-27 20:07] aeftimia opened #111 "Question: How to directing libpython-clj at a virtualenv (without activating it)"
What would be the recommended way to directing libpython-clj to a virtualenv. I'm looking for a way without having to explicitly activate the virtualenv prior to running. It seems that calling `initialize!` would be the appropriate way to go. However it also seems like `initalize!` is called just upon `require`ing `libpython-clj.python` (without giving the user a chance to override it).

Thanks!

[2020-07-27 20:47] cnuernber commented on #111
What has worked in the past has been having a clj file you know is loaded earlier than the rest of your system that calls [`libpython-clj.python/initialize!'](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python.clj#L229).

I personally strongly recommend using docker containers to control your environment.  We have an [example](https://github.com/cnuernber/facial-rec)

[2020-07-27 22:16] aeftimia commented on #111
I'd love to use a container, but the requirements of the project I'm working on don't allow that. The goal is to be able to package Python code within a Java project, and libpython-clj is my best (only?) option since Jython doesn't support 3+. I understand what you are saying about having a file loaded first that calls `initialize!`, but I still do not understand how to do so without importing `li

[2020-07-27 23:51] aeftimia commented on #111
I'd love to use a container, but the requirements of the project I'm working on don't allow that. The goal is to be able to package Python code within a Java project, and libpython-clj is my best (only?) option since Jython doesn't support 3+.

I learned about the `use` statement and got your suggestion working. Thanks!

[2020-07-27 23:51] #111 closed

[2020-08-08 13:38] zendevil commented on #108
Wrapping around with time.time() in both cases.

time elapsed in pure python: 1.1395201683044434
time elapsed in libpython-clj: 15.047068119049072

[2020-08-08 13:52] cnuernber commented on #108
1.  You need to wrap this in a with-context of some sort.  You are locking/unlocking the GIL many times a loop.  Did you read the scoping document I sent earlier?
2.  Print out ret and frame.

[2020-08-08 14:08] zendevil commented on #108
Wrapping the doseq in py/with-gil-stack-rc-context hasn't seem to have made any difference. Furthermore, while printing the ret returns the frame number and true from 0 to 7 in the pure python case, it prints no numbers and only true indefinitely in the libpython-clj case.

[2020-08-08 14:14] cnuernber commented on #108
What precisely is capture returning?  What if you print that without destructuring it?

[2020-08-08 14:18] zendevil commented on #108
capture prints:
[code]

[2020-08-08 14:26] zendevil commented on #108
Pulling the capture into a wrapping let worked, and removing the Gil protector didn't affect the performance though

[2020-08-08 14:49] zendevil commented on #108
Furthermore, there's still a performance difference:

pure-python: time elapsed  1.099949836730957
libclj-python: time elapsed 1.181704044342041

[2020-08-08 23:20] cnuernber commented on #108
Crossing language boundaries isn't free I guess.  But that is pretty darn close and it evens out eventually.
Cool test, glad you got it working.

[2020-08-10 20:43] zendevil opened #112 "libpython-clj performance issues."
I have the following python code:
[code]

versus the following clojure:

[code]

Where the python code takes 0.0410151481628418 seconds, the clojure code is taking 12.076033115386963 seconds, even after wrapping with an rc lock. What is causing the performance bottleneck and how can it be fixed?

[2020-08-11 11:32] cnuernber commented on #112
I would venture to guess that marshaling small pieces of data across the language boundaries is causing the issue.  The best solution to this is the zero-copy mechanism for numpy arrays.

[2020-08-11 13:18] jjtolton commented on #112
@zendevil I'll also point out that your `zip` and `doseq` are doing very different things.  What you mean to do is
[code]
The
[code]
is equivalent in Python to:
[code]
which is very different in performance than `zip(ax, bx)`

Also I'd recommend using `time` instead of `def start-time` because the inline `def` is a huge drag on performance.

Depending on how many items you have, the time complexit

[2020-08-11 13:20] jjtolton commented on #112
If you that doesn't change it the performance significantly and you're willing to share a `"/Users/foo/Desktop/data_scene_flow"`, I could try to replicate, I'm curious myself!

[2020-08-11 18:37] zendevil commented on #112
@jjtolton, the data_scene_flow is taken from (Download stereo 2015/flow 2015/scene flow 2015 data set (2 GB)):
http://www.cvlibs.net/datasets/kitti/eval_scene_flow.php
The kitti dataset is a popular benchmarking dataset for computer vision tasks.

[2020-08-11 21:05] jjtolton commented on #112
`(time ...)` prints to the console.  If you need the return value, can always do

[code]
I assume this is just for benchmarking?

[2020-08-11 21:06] jjtolton commented on #112
Thanks for the data.  I'm curious myself so I'll slot in some time Saturday to work a repro.

[2020-08-12 04:09] zendevil commented on #88
There ought to be a concise way of indexing lists and numpy arrays. So far I haven't found any.

[2020-08-12 12:02] jjtolton commented on #88
What do you propose?  Philosophically this is a grey area where user or
library code might make more sense than trying to add syntactic sugar for
such a specific operation, although I feel your pain.

On Wed, Aug 12, 2020 at 12:10 AM zendevil <notifications@github.com> wrote:

[2020-08-23 02:33] zendevil opened #113 "repl closes unexpectedly"
I'm benchmarking this library:

[code]

It literally stops the repl when the last s-expression is evaluated. Why is the repl crashing?

[2020-08-23 02:59] zendevil opened #114 "How to get native python-like performance for this snippet."
pytorch snippet:

[code]
"Elapsed time: 65831.100093 msecs"

[code]

time 21006.22010231018

1. The clojure code is about 4.4 times slower, in general about 3-7x whether the operation is repeated 5000, 50000 or 500000 times. Is there a way to get at the very least a constant overhead with clojure?

2. The repl sometimes closes unexpectedly. #113

[2020-08-23 03:00] #113 closed, assigned to nobody

[2020-08-23 10:06] zendevil opened #115 "Can't multiply with pytorch tensors."
[code]
gives

libpython_clj.python.bridge$generic_python_as_jvm$reify__45787 cannot be cast to java.lang.Number

[2020-08-23 10:21] #115 closed, assigned to nobody

[2020-08-24 01:19] joinr commented on #86
@zendevil  Did you try using a shim class like in my PR [files here](https://github.com/gigasquid/libpython-clj-uberjar-test/pull/1/files)?  That should get an AOT'd uberjar working by essentially avoiding AOT compiling all the python interop stuff, and late-binding everything as you would in the REPL.  So there isn't any deep AOT compilation of the classes, rather a tiny one that loads clojure en

[2020-08-24 04:53] metasoarous commented on #86
I more or less cribbed your solution exactly @joinr. Again, thanks for forging that trail!

[2020-08-24 05:45] zendevil commented on #66
I'm interested.

[2020-08-24 14:21] jjtolton commented on #66
I've see you mention [concerns with performance](https://github.com/clj-python/libpython-clj/issues/114) in other places, @zendevil.  This change could potentially ding performance in order to make it backwards compatible.  Would it still be worth it?

[2020-08-24 22:15] zendevil commented on #66
Maybe there could be an option to toggle camel case of to increase performance if needed.

[2020-09-01 14:15] jjtolton opened #116 "ISSUE-116: Add Python module and line # information to allow for "jump to source" navigation"
Editors like CIDER look at the `meta` information on Clojure symbol to determine "jump to source" navigation.

Some preliminary tests I've run indicate that it would be possible to hack this include arbitrary file/line information to the metadata.  During the population of `require-python`, it would be possible to gather the Python file/line information using the `inspect` module and transfer it t

[2020-09-01 16:46] eoswald opened #117 ""Failed to load library" when library-path exists"
I'm on Windows 10 and it seems like it's failing to find the provided python library path when the DLL clearly exists.

project.clj:
[code]

core.clj:
[code]

Output:
[code]

[2020-09-01 20:06] cnuernber commented on #117
Agree this is legitimate; it should have loaded the library.  I wonder if there is some linkage issue when it attempts to load the library.

What happens is the return value of:
[code]

[2020-09-01 20:41] eoswald commented on #117
That throws the same exception:
[code]

[2020-09-01 22:21] cnuernber commented on #117
What happens if you load the dll with dependency walker?

[2020-09-01 22:54] eoswald commented on #117
I was able to crash dependency walker and found my issue: I accidentally installed a 32-bit version of Python. Installing a 64-bit version worked. I tried re-installing a 32-bit version and was able to reproduce this issue with Python 3.7 and Python 3.8.

[2020-09-01 22:54] #117 closed

[2020-09-01 23:05] cnuernber commented on #117
Awesome, glad I could help :-).

[2020-09-02 01:54] eoswald commented on #105
That's strange, I get this same issue on Python 3.8.2:
[code]

[2020-09-02 12:13] cnuernber commented on #105
We need that function to work with the current design; it is how we register clojure functions as python functions.

It would be helpful if someone could research what happened to that function.

[2020-09-04 00:55] sogaiu commented on #2
After a few unsuccessful attempts with venv and virtualenv, I attempted to follow @lockejan's instructions of using pyenv and the associated virtualenv plugin along with miniconda3-latest.

Assuming one has pyenv and the virtualenv plugin setup, the following seemed enough here to get things working.  (Note that this is less than the original steps).

[code]

Note in the last step it appears one c

[2020-09-04 03:16] zendevil opened #119 "How to see some error logs why a repl closes"
I load a piece of code into the repl. o3d is open 3d:

[code]

And the last line
[code]
when  uncommented, inexplicably closes the repl.

[code]

How to find more about why the repl got closed?

[2020-09-04 14:29] sogaiu commented on #105
Is it defined here?

3.8 branch:
  https://github.com/python/cpython/blob/3.8/Objects/methodobject.c#L33-L37

3.9 branch:
  https://github.com/python/cpython/blob/3.9/Objects/methodobject.c#L31-L35

[2020-09-04 14:33] cnuernber commented on #105
Apparently but if it isn't exported from the shared library then we can't get to the symbol.  So there must be an export step where this got removed.

Try searching shared libraries for symbols; that is the real test here.  On Linux I think I use `nm -d`.  In any case jna can't find the symbol and that is what is causing the failure.

[2020-09-04 14:50] sogaiu commented on #105
Does this help?
[code]

[2020-09-04 14:59] cnuernber commented on #105
Ah, so perhaps we can use PyCFunction_NewEx....yes that helps.

Does it have a crazy function signature?

[2020-09-04 15:04] sogaiu commented on #105
Looks like `PyCFunction_New` just calls `PyCFunction_NewEx`?

https://github.com/python/cpython/blob/3.9/Objects/methodobject.c#L31-L42
[code]

[2020-09-04 15:06] cnuernber commented on #105
Awesome, thank you, that looks to be a way forward.  We can test that one out fairly easily and see what happens.  I was pretty concerned that we would need to do something like build a shim for 3.9+ so this actually really eases my mind a bit.

[2020-09-04 15:10] sogaiu commented on #105
Regarding the report in: https://github.com/clj-python/libpython-clj/issues/105#issuecomment-685235010

That looks like a Windows environment (the report of this happening on 3.8.2).  Perhaps a platform difference?

[2020-09-05 04:34] sogaiu commented on #2
Relying on a version of python that is installed (here I don't mean using something like NixOS or Guix, but rather more a traditional arrangement) on one's system seems like asking for trouble -- e.g. the OS has its own priorities so who knows what will happen after an update, or perhaps one needs to test against different versions of python, etc.

pyenv + virtualenv seems like it might work for L

[2020-09-07 20:57] #116 closed

[2020-09-07 21:32] cnuernber commented on #105
Potential fix in `1.46`.  Thanks to everyone who chimed in here and especially @sogaiu - That changed work for me and appears to be backwards compatible.

Tentatively closing!

[2020-09-07 21:32] #105 closed

[2020-09-12 16:29] zendevil opened #120 "Execution error (ExceptionInfo) at tech.v2.datatype.base/copy! (base.cljc:208)."
Getting this error:

[code]

With the following code:

[code]

[2020-09-12 18:08] zendevil commented on #120
the line (zeros [N N]) needs to be
[code]

A better error message about the asymmetry when converting using ->numpy is warranted.

[2020-09-12 18:08] #120 closed

[2020-09-13 03:05] zendevil commented on #88
How about

[code]

The slicing functionality can be built into py/get-item

[2020-09-13 14:42] cnuernber commented on #88
I agree that better support of slicing would be very cool.  Potentially this would just a be a macro that took input that looked exactly like the python slice syntax and then produced a vector of slice objects.

[2020-09-13 18:42] zendevil commented on #88
I'd say having

[code]

where py/... is the Ellipses object, also very frequently used.
That would translate to:

[code]

[2020-09-13 23:05] sogaiu commented on #88
Regarding the legailty of `py[]` as a symbol name, I believe the claim that it is not valid is correct -- at least it's not likely to work in a straight-forward way for use with `def`, `defn`, and friends.

Accorrding to: https://clojure.org/reference/reader#_symbols:

Although these docs can be slightly off in some cases, I think they are correct in this case.

Also a repl started via `clj`:
[cod

[2020-09-14 08:40] Goldritter opened #121 "Problems to load Python 3.8 under Windows 10 (possible dynamic variable binding problem)"
Hi,

I tried to initialize libpython-clj (Version "1.46") for my Python 3.8.6 version which is installed under C:\opt\Python\Python3.8 with following code:
`(py/initialize! :python-executable "C:/opt/Python/Python3.8"
                       :library-path "C:/opt/Python/Python3.8/libs/python38.lib")`

and get an error that the library cannot be loaded.
As you can see in the logging info and the Sta

[2020-09-14 08:53] jjtolton commented on #121
Heya Marcus!  Not sure if I’m reading this correctly, but the stack trace
says platform="win32".  Is this a 32 but system?

On Mon, Sep 14, 2020 at 4:41 AM Marcus Lindner <notifications@github.com>
wrote:

[2020-09-14 08:58] Goldritter commented on #121
No it is a 64-Bit System. I installed a 64-Bit Python 3.8 and used a 64-Java JDK.
Here is the output from (System/getProperties):

(System/getProperties)
=>
{"sun.desktop" "windows",
 "awt.toolkit" "sun.awt.windows.WToolkit",
 "java.specification.version" "12",
 "sun.cpu.isalist" "amd64",
 "sun.jnu.encoding" "Cp1252",
 "clojure.debug" "false",
 "java.vm.vendor" "Oracle Corporation",
 "sun.arch.dat

[2020-09-14 09:07] sogaiu commented on #121
Is it possible that one might have more luck with JDK 11?

[2020-09-14 10:11] sogaiu commented on #121
BTW, I just tried with python 3.8.5 with some success on Windows 10.

I did something that was slightly different and might translate to something like:
[code]

Here my intention was to use the `.dll` file instead of the `.lib` file.

The file path to the `.dll` file is a bit different from the `.lib` here -- the `.lib` file lives under `libs`, while the `.dll` file lives in the same directory as

[2020-09-14 10:28] Goldritter commented on #121
Thanks. This works also for me.
I run a successful test with:

(require '[libpython-clj.require :refer [require-python]])
(require-python '[numpy :as np])
(def test-ary (np/array [[1 2][3 4]]))
test-ary
=> nil
=> :ok
=> #'python.config/test-ary
=> [[1 2] [3 4]]

With other libraries there are problems like `(require-python '[tensorflow :as tf])`
"Execution error at libpython-clj.metadata/path->py-

[2020-09-14 11:56] jjtolton commented on #121
@sogaiu FTW!

[2020-09-14 12:11] jjtolton commented on #88
:rofl:

[2020-09-14 13:04] jjtolton commented on #88
Are we sure a recipe wouldn't be better?  Otherwise I suppose it could go in the sugar section.

[code]

[2020-09-17 04:32] zendevil opened #122 "Operator overloading"
Basically, many python libraries have overloaded operators. For example, in Pandas, you get the time delta between two times by doing:

[code]

Unfortunately, doing the following:

[code]

doesn't yet work, gives:

[code]

On the other hand, doing this:

[code]

gives:

[code]

Is there anyway to overload the negative sign? The problem is that whatever the actual implemented function is that overl

[2020-09-17 12:14] cnuernber commented on #122
We would need a namespace that redefines '-' in terms of the python "__minus__" attribute (and "__div__", etc).  Definitely doable.

[2020-09-20 00:01] cocodrino opened #123 "Execution error (ExceptionInfo) at tech.jna.base/do-load-library"
Hi good day, I'm having some troubles trying to test libpython-clj, I'm not sure if I'm following the right steps

I found this related issue https://github.com/clj-python/libpython-clj/issues/61, so I installed python with the enable framework parameter activated:
1) env PYTHON_CONFIGURE_OPTS="--enable-framework" pyenv install 3.6.9
2) I downloaded an installed libpython-clj using lein install
3)

[2020-09-20 00:26] sogaiu commented on #123
Just to confirm, this is macos, right?

May be one of the following might help:

* https://github.com/clj-python/libpython-clj/issues/121#issuecomment-691958024 -- use of `:library-path` with `py/initialize!`.

* https://github.com/clj-python/libpython-clj/issues/2#issuecomment-687547272 -- use of `PYTHONHOME` and/or `PYTHONPATH` (It might be that the virtualenv portion is not necessary, so it mig

[2020-09-20 23:08] sogaiu opened #124 "clj-kondo support?"
I'm noticing that clj-kondo is giving warnings about certain situations, e.g.

* import-python makes a number of things available (e.g. python.dict)
* require-python can make a new namespace

for these clj-kondo gives me "unresolved ..." types of messages.

IIUC, clj-kondo sprouted a hooks api recently: https://github.com/borkdude/clj-kondo/blob/master/doc/config.md#hooks (https://blog.michielbork

[2020-09-20 23:36] cocodrino commented on #123
@sogaiu thank you, `:library-path` did the trick, would be great if that info could be included in the readme, also notice that python 3.8.1 doesn't work, I get an error when I try to initialize...

thank you so much!

[2020-09-20 23:36] #123 closed

[2020-09-21 01:06] cnuernber commented on #123
Is pyenv active in the shell that you launched your cursive repl in?  Could the pyenv shell state be an part of the issue?

[2020-09-21 06:25] #121 closed

[2020-09-21 22:38] sogaiu commented on #124
I have a draft for `export-symbols`: https://gist.github.com/sogaiu/ad05cde3fd2529c11949903ca5993301

To test it I rooted the files and directories in the project directory of libpython-clj.  The `config.edn` content can be merged with whatever is already there in a straight-forward fashion.  It seems to work along with the draft for `def-pylib-fn`: https://gist.github.com/sogaiu/b6aa01efbd4006bbc

[2020-09-21 22:41] sogaiu commented on #124
One technique I learned from borkdude is to not necessarily create a representation with rewrite-clj nodes that exactly matches what a macro might expand to but rather to construct something that gives clj-kondo sufficient information to do its job.

For example, in `def-pylib-fn`, `rettype` and `docstring` are both ignored.  `docstring` could be used I suppose but that shouldn't be hard to add la

[2020-09-22 08:15] sogaiu commented on #123
@cocodrino Along the lines (I think) of what @cnuernber said, if you launch Cursive from a terminal where pyenv is already appropriately activated, it may be that things will "just work".

I think if one launches an application from the Dock it may not have the same set of environment variables set as that of your pyenv environment.

[2020-09-22 17:30] jjtolton commented on #124
@cnuernber I'll tackle this if you're interested in supporting clj-kondo

[2020-09-22 19:56] cnuernber commented on #124
Oh for sure, let's do it.  Kondo is a great tool, it usually makes the code better :-).

[2020-09-26 12:45] sogaiu commented on #124
IIUC, it's not currently possible to support what `import-python` does in clj-kondo.  However, I've talked a bit with borkdude about it so perhaps before long it may become possible.  For reference, here are 2 related issues I filed after discussion:

* https://github.com/borkdude/clj-kondo/issues/1018
* https://github.com/borkdude/clj-kondo/issues/1019

[2020-09-30 19:16] Goldritter opened #125 "Weird behavior if using Pytorch Tensors with map"
Hi,

I try to using Pytorch und Hugginfaces Transformers to create Bert Word-Embeddings.
Here is the code of the namespace which creates the Embbedings:
[code]

If I now use the call
`(BERT/get-second-last-layer (BERT/token-embeddings-of-sentences "Die 87-jährige Franziska R. wird wegen zunehmender Dyspnoe und Hustenanfällen aus der Augenklinik in die internistische Abteilung eines Klinikums verle

[2020-09-30 19:41] Goldritter commented on #125
Short update:
I tried to make the function "get-word-embeddings-for-token-information" more in touch with Python and remove the nth call  but I get the same behavior described above.

[code]

[2020-09-30 21:46] Goldritter commented on #125
After I changed "get-word-embeddings-for-token-information" and loaded the model directly at the beginning I could make at least 50 calls of `(map #(BERT/token-embeddings-of-sentences %1 BERT/german-bert-path) [<Many Sentences>])` but when I wanted to make another 50 calls the program blocks/stucks again.

I tested this on a Windows 10 System with Python 3.8.5 and on a Ubuntu Linux with Python 3.8

[2020-09-30 22:08] jjtolton commented on #125
I notice some of the syntax you're using is from older version of libpython-clj.  Could you paste in `deps.edn` and output of `pip freeze`?

[2020-10-01 07:17] zendevil commented on #122
How can you please elaborate I don’t get it?

[2020-10-01 07:20] sogaiu commented on #122
Perhaps some bits of what's here are being hinted at?

https://docs.python.org/3/library/operator.html

[2020-10-01 07:40] Goldritter commented on #125
No Problem.
Here is the output from pip freeze:

astunparse==1.6.3
attrs==20.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
dill==0.3.2
dm-tree==0.1.5
filelock==3.0.12
future==0.18.2
gast==0.3.3
gin-config==0.3.0
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.1
google-auth-httplib2==0.0.4

[2020-10-01 11:37] jjtolton commented on #125
Cool.  I'll give some tips b/c I won't have time to dive in for a little while.  Version info looks solid from what I can see.

The only two known sources of REPL hang behaviour with 1.46 fall into two categories:
1. Concurrency, intentional or otherise; and
2. User error or misunderstanding REPL output

On the first point, there's a known issue with pytorch and a few other libraries that use conc

[2020-10-01 12:00] Goldritter commented on #125
Thanks for the tips.

If this helps, I performed some tests with debugging outputs where the number of sentences was 13 (always the same sentence). The output was the sentence number which was actually passed and the steps ("BERT" for the function "get-word-embeddings-for-token-information " and "Second Layer" for the function "get-second-last-layer". Every process of one sentence was not more tha

[2020-10-01 12:46] Goldritter commented on #125
One thing I noticed now.
I added now debug outputs when I load the Bert model and define the time to live values.

[code]

When I first load the namespace into the REPL everything works fine. But when I reload it later the program blocks.

Define time to live
Loaded
(in-ns 'python.bert.test)
=> #object[clojure.lang.Namespace 0x28d1f3a "python.bert.test"]
Loading src/python/bert/test.clj...
Load Be

[2020-10-01 15:21] Goldritter commented on #125
As it seems I cannot get a grip where the Problem is.

Here is the actual code and here I cannot even parse the first sentence and the Tokenizer is not loaded. But yesterday the tokenizer has been loaded without problem in the memoize methods.

To test I used `(count (get-second-last-layer-embedding  sentences))`. Another information, in the Task Manger the CPU goes for a few seconds high (70%-80%

[2020-10-01 15:40] cnuernber commented on #125
We have had several major problems specifically with pytorch.  We need to liaison a pytorch developer.

Searching issues for pytorch I think will be helpful/disappointing.

[2020-10-04 22:31] sogaiu commented on #124
Changes to address the issues mentioned in the previous comment:

* https://github.com/borkdude/clj-kondo/issues/1018
* https://github.com/borkdude/clj-kondo/issues/1019

have been made to the master branch of clj-kondo:

* https://github.com/borkdude/clj-kondo/commit/24e5ac9b28c6ac9f8c8328fca962d6f44e435777
* https://github.com/borkdude/clj-kondo/commit/6402b24a4e247734f7be6ca8ea164cfd07233f4d

I

[2020-10-05 09:53] sogaiu commented on #124
Here is preliminary support for `import-python`:

Assuming the following tree under libpython-clj's project directory:
[code]
`config.edn`
[code]
`hooks/libpython_clj/require/import_python.clj`
[code]
To test, run `clj-kondo --lint path.clj` where path.clj has `import-python` available in it and uses it.

At the moment, there will likely be warnings about unused namespaces, but this may be somethi

[2020-10-05 10:27] sogaiu commented on #124
Adding:
[code]
to `config.edn` seems to address the warnings issue.

[2020-10-05 15:09] Goldritter commented on #125
If it helps to get closer to the problem.
I tested some more ides and changed some loading orders in the code and added debugoutputs (see end if this post) and executed following call

`` (def result (map #(get-second-last-layer-embedding %1 %2) (repeat 13 sentences) (range 1 14))
(count `result)` ``.

The output has been:

Start embedding, Tokenize, Start Bert,
Iteration (1), sentence (1):
Start

[2020-10-05 16:06] jjtolton commented on #125
This is almost certainly at least one of the problems:

[code]

as `get-scalar-value`  corresponds to
[code]

Python concurrency and Clojure concurrency do not mix!

[2020-10-05 16:57] Goldritter commented on #125
OK. Thanks for the Info.
At least I did not use these two functions for my tests.
I test with "get-second-last-layer-embedding" which calls "token-embeddings-of-sentences".

But good to know that.

[2020-10-05 21:16] jjtolton commented on #125
Is it possible for you to make a GitHub project and include steps how to reproduce this issue?  I'll see if I can pinpoint the issue.

[2020-10-06 16:31] Goldritter commented on #125
I created a repository with the code and the project.clj I use and invited you as a collaborator.

You need also the pytorch_model.bin, tf_model.h5, config.json and vocab.txt.

Because the large file storage does not work correctly for me you can download these files are downloadable here:
https://drive.google.com/drive/folders/1lfeiVRk37WfwQvgziKeKrGe_HbeVuABC?usp=sharing

The Setting for the pyt

[2020-10-06 16:33] jjtolton commented on #125
@Goldritter got it.  I'll take a look this weekend or as soon as I get a chance!

[2020-10-10 09:58] sogaiu commented on #124
FWIW, I believe the latest release of clj-kondo now has the necessary features to try things out.

[2020-10-11 22:04] keesterbrugge opened #126 "map destructuring missing kv doesn't seem to bind value nil"
Hi Chris, thx again for this amazing library.

I'm trying out numpyro for some probabilistic programming.

I suspect something is going wrong. When you desctructure a map on keywords that are missing, they are bound to the value nil, see
[code]

The fn `model` takes a map as argument and I bind the value of the `:y` key.
I thought that the following 3 cases would yield the same result, but case 1

[2020-10-12 15:49] keesterbrugge opened #127 "->dataset not accepting pyobject that behaves like clojure map."
<details><summary>setup</summary>
<p>

[code]

</p>
</details>

The value for `samples` behaves a lot like a map, but not quite. I hoped I would be able to turn it directly into a dataset using `->dataset` but I first need to turn it into clojure map. Is this expected behaviour?

[code]

[2020-10-14 23:11] jjtolton commented on #126
Hi there!  That's a lot of domain specific code -- are you able to narrow down the problem a little?

[2020-10-15 00:10] jjtolton commented on #125
Okay, finally got around to this.  I don't really know how to explain it, but `get-second-last-layer-embedding` is acting as if it is a web API or something.  Meaning, somehow a second call to `get-second-last-layer-embedding` is able to start before the first one finished if they are in a tight loop.  This is causing the interpreter to lockup.  So I treated it as an async problem and it works now

[2020-10-15 10:33] Goldritter commented on #125
Thanks for your work.

About _get-second-last-layer-embedding_.
I thought of it as an optimized call for _token-embeddings-of-sentences_. Because if there are to many characters/tokens in the sentences the model causes an error similar to ArrayOutOfBoundsException. And if I have to many sentences which are processed separately it takes to much time so I use an If-clause based on the number of char

[2020-10-15 11:24] jjtolton commented on #125
Yes but my current hypothesis defies all logic and is deeply concerning.  It would mean the clojure interpreter is moving on to the next frame before the current frame returns — I’ve never seen that inversion of control behavior before except in async code, and this not async code as far as I can tell.

The only other thing I can think of at the moment is that `map` is doing chunks of 32, so when

[2020-10-15 11:42] jjtolton commented on #125
Is it possible that the return type of `get-second-last-layer-embeddings` is something equivalent to a promise or task or task-id which is used collect results later?  Or possibly an object wrapping an async promise which somehow self-promotes to a value on completion of work?

[2020-10-15 11:47] Goldritter commented on #125
I get the same behavior with for, doseq and loop. And I don't believe for example that loop does process chunks.
I never thought the problem was so profound.

And I think not that the result of `get-second-last-layer-embeddings` is a promise or similar. Except the map-function suddenly transforms the passed function `#(token-embeddings-of-sentences %1)` into a promise.

And `token-embeddings-of-se

[2020-10-15 11:50] jjtolton commented on #125
I won’t have time for awhile but the next step would be to try to reproduce this in CPython directly and run the code in a tight loop and see if there is similar behavior.  Might have to or this will haunt my sleep haha

[2020-10-15 11:52] Goldritter commented on #125
No Problem with the time. Luckily it is not time important.
Thanks for your time and your help.

And I apologize if this keeps you from sleeping.

[2020-10-15 12:57] jjtolton commented on #125
Okay, thanks for reporting -- saves me about an hour of tinkering.  I think maybe I'll open an issue with pytorch and bug them to see if I can get anymore insight.

[2020-10-16 14:39] jjtolton commented on #125
@Goldritter do feel we can close this out or do you still require additional support?

[2020-10-16 14:41] #125 closed

[2020-10-16 14:41] Goldritter commented on #125
I think we can close it now.

[2020-10-16 14:43] jjtolton commented on #125
Thanks for the interesting puzzle.  We've had ongoing issues with pytorch and I think this gave some valuable insight.  Might be able to look at some other tickets now.  Appreciate the work you did putting together the repro!

[2020-10-16 18:46] cnuernber commented on #125
Perhaps research similar functionality via mxnet if possible.  I have found that project to be in general much more solid.  I know, however, they aren't as far in terms of some forms of NLP.

[2020-10-17 09:38] Goldritter commented on #125
Thanks.
Glad to hear that this issue might be helpful to solve other other issues. And that it was not boring to work on it.

[2020-10-18 07:49] Algorimatica commented on #123
Encountered a same problem with python 3.8.5, should I downgrade to python 3.7?

[code]

[code]

[2020-10-20 00:17] cloojure opened #129 "`run-simple-string` doesn't return `:result` keyword"
Tried a test:

[code]

[2020-10-20 00:22] jjtolton commented on #129
What is the expected behavior here?  Sounds like you're expecting a `:result` key?

[2020-10-20 00:28] jjtolton commented on #129
Ah, I see.  The documentation says there should be a `:result`.  This is no longer the case, we'll update the docstring.

If you're looking for a result, you need to use the interop directly.  As an example:

[code]

[2020-10-20 00:37] jjtolton commented on #129
@cloojure if you're encountering any issues with getting started, please feel free to stop by the Zulip chat (https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev) or continue to message here!

[2020-10-20 02:39] cloojure commented on #129
OK, cool. Thanks for the tip about `operator/add`  I was wondering how to
do that!
Alan

On Mon, Oct 19, 2020 at 5:29 PM J.J. Tolton <notifications@github.com>
wrote:

[2020-10-20 13:48] #129 closed

[2020-10-20 13:50] cnuernber commented on #129
I couldn't figure out how to get the last result left on the stack.  I really would like it to just return the result that was left on the stack but regardless the documentation was incorrect (fixed now, thank to JTolton).  Thanks for bringing this up!

[2020-10-21 07:57] sogaiu commented on #123
@Algorimatica I had success with the pyenv + pyenv-virtualenv (via homebrew) combination on macos with python 3.8.6 using @cnuernber's find of: https://github.com/pyenv/pyenv/wiki#how-to-build-cpython-with-framework-support-on-os-x

I adapted the instructions from here: https://github.com/clj-python/libpython-clj/issues/2#issuecomment-687547272

Apart from adapting the specific paths and python mo

[2020-10-29 11:32] temco opened #133 "different errors on **libpython-clj.python/initialize!** between 1.46 and 2.00-alpha-5"
PC environment：
macOS Catalina 10.15.7

emacs environment:
![image](https://user-images.githubusercontent.com/3907950/97544190-379a9100-1a04-11eb-82a4-7c740a4767f6.png)

python environment:
installed by conda (v3.8.3)
executable: /opt/anaconda3/bin/python3; packages: /opt/anaconda3/lib/python3.8/site-packages/

installed by commandLineTools of Xcode (v3.7.3)
executable: /Library/Developer/CommandL

[2020-10-29 11:48] cnuernber commented on #133
Hmm, there are a range of issues there.

First, they removed a constructor for direct nio buffers in java 14.  Previously the lower level layers were using jna for that conversion and that apparently still works in java 14.  That is this error:
[code]
If you don't have things explicitly dependent upon java 14 then I believe java 8 will work.

Before I was using JNA for that pathway (long pointer -

[2020-10-29 12:00] cnuernber commented on #133
Hmm, potentially some of the fix could come from re-enabling unsafe for the jdk:
https://blogs.oracle.com/javamagazine/the-unsafe-class-unsafe-at-any-speed

[2020-10-30 05:17] temco commented on #133
thanks, I have remove the java 14, so that "2.00-alpha" and python 3.7 work together.

[2020-10-30 11:38] jjtolton commented on #133
Thanks for the thoughtful write up @temco !

[2020-11-01 13:34] cnuernber commented on #133
I think we should leave this issue up.  At some point we can address this with jdk-14 specific pathways.

[2020-11-03 12:20] PlumpMath opened #134 "how to use create-class"
I read
https://github.com/clj-python/libpython-clj/blob/master/test/libpython_clj/classes_test.clj

and use version
clj-python/libpython-clj {:mvn/version "2.00-alpha-5"}

and this py code convert clj

    class Person:
     def __init__(self, name):
      self.name = name

     def say_hi(self):
      print("hello, my name is", self.name)

    p = Person('niki')
    p.say_hi()

------------------

[2020-11-03 12:27] PlumpMath commented on #134
ah;; solve set-attrs!
sorry ^^;;

[2020-11-03 12:40] cnuernber commented on #134
No worries @PlumpMath :-).

[2020-11-22 18:35] linuzo opened #136 ""Failed to find constructor f java.nio.DirectByteBuffer: $s","
I'm trying to run the example and I am getting this..  I'm not sure what I am doing wrong.

:clojure.main/trace
 {:via
  [{:type clojure.lang.Compiler$CompilerException,
    :message
    "Syntax error compiling at (libpython_clj/metadata.clj:13:1).",
    :data
    {:clojure.error/phase :compile-syntax-check,
     :clojure.error/line 13,
     :clojure.error/column 1,
     :clojure.error/source "lib

[2020-11-22 18:41] linuzo commented on #136
When I run 'lein run' from terminal:

INFO: Startup info detected:
{:lib-version "3.8",
 :java-library-path-addendum "/usr/lib",
 :exec-prefix "/usr",
 :executable "/usr/bin/python3",
 :libnames ("python3.8m" "python3.8"),
 :prefix "/usr",
 :base-prefix "/usr",
 :base-exec-prefix "/usr",
 :python-home "/usr",
 :version [3 8 6],
 :platform "linux"}

Nov. 22, 2020 10:39:24 A.M. clojure.tools.logging

[2020-11-22 18:52] cnuernber commented on #136
I bet that has to do with your java version.  They removed nio buffer constructors in JDK-14.  What JDK version are you running?

This is fixable because jna *also* contains pointer->bytebuffer pathways that are compiled in via JNI.

[2020-11-22 18:54] linuzo commented on #136
Yep I am running 14..  What version would you recommend to run for this?

[2020-11-22 18:56] cnuernber commented on #136
I have given guarantees to always work on Java 8 to quite a few people.

[2020-11-22 19:00] linuzo commented on #136
Ok thank you!

[2020-11-22 19:00] #136 closed

[2020-11-24 10:01] daslu opened #137 "new-to-clojure link is broken"
https://github.com/clj-python/libpython-clj/blob/master/docs/new-to-clojure.md

It is an excellent post (I think), and we have used the link in various places
(e.g. https://twitter.com/daslu_/status/1214968279162339330),
so it may be useful to keep the link working.

[2020-11-24 13:33] cnuernber commented on #137
Ah, in order to work with codox well I moved all the documents to 'topics'.

Here is the new link:
https://github.com/clj-python/libpython-clj/blob/master/topics/new-to-clojure.md

[2020-11-24 13:34] #137 closed

[2020-11-26 10:37] vxe opened #138 "[macos] Upgrade from python 3.6 to 3.9, libpython-clj is still trying to load libpython3.6m.dylib"
Here's the interaction

![libpython-clj](https://user-images.githubusercontent.com/4325947/100340187-a92c1780-2f8f-11eb-912b-84cf6abd1692.png)

Its not clear to me _why_ its trying to use 3.6 but I think the bug didn't surface before because the 3.6 dylib was still on disk, but homebrew decided it was time to delete it after the last run of `brew update`

Is there something cached that's I need to

[2020-11-26 13:29] cnuernber commented on #138
Nothing is cached but we have a bit of code that is meant to detect the python version that appears to be failing.

* [detect-startup-info](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L152)
* [initialize](https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L442)

It appears detect-startup-info is not

[2020-11-26 15:03] vxe commented on #138
`detect-startup-info` seems to returning 3.6 as a default

[code]

when called with `:python-executable` for 3.9, its seems to spit out the right path for the dylib

[code]

[2020-11-26 20:59] cnuernber commented on #138
Well, the quick work around is to provide :python-executable to initialize! and be sure to be the first one to call initialize.  What happens if you attempt to tell the system exactly were the python executable is that you want it to use to setup it's library paths?

[2020-11-27 04:46] vxe commented on #138
Might be related to the calling of `python3-config --prefix` as mentioned [here](https://github.com/clj-python/libpython-clj/blob/a4d23c14167845dde746373285b397a89d98b031/CHANGELOG.md#122) , which points to 3.6

[code]

there appears to be additional version specific commands now

[code]

[2020-11-27 06:39] vxe commented on #138
^^ fixed the above with `brew cleanup && brew reinstall python@3.9`,  `detect-startup-info` now spits out the right values

[code]

however importing `require-python` still fails on attempting to load version 3.6 like in earlier screenshot, I think because of this bare call to[ (py/initialize!)](https://github.com/clj-python/libpython-clj/blob/a85be74de9385ba2ef0c01c78eb0c4045b9abd42/src/libpython

[2020-11-27 15:43] cnuernber commented on #138
Does your PR completely address this issue for you?

[2020-11-29 15:30] vxe commented on #138
yeah my issue seems to be resolved, I can now load `require-python` without any exceptions

[2020-11-29 16:06] cnuernber commented on #138
OK, great closing :-).

[2020-11-29 16:06] #138 closed

[2020-12-01 14:54] ronnac commented on #41
I'm interested in a 32 bit compilation, too (armhf). I run Clojure on my Android smartphone via termux (spacemacs and lein-clojupyter are running fine).

[2020-12-01 15:10] cnuernber commented on #41
OK, if we want to go here I think it will be instructive for all of us.

The python bindings assume 64 bit architectures in a few places.  The first place we will have to get exactly right is the struct definitions, things like:
* [PyTypeObject](https://github.com/clj-python/libpython-clj/blob/master/java/libpython_clj/jna/PyTypeObject.java)
* [PyMemberDef](https://github.com/clj-python/libpython-

[2020-12-02 05:54] ronnac commented on #41
I was probably too quick. Graal is not available for ARM32. Is that a dependency?

[2020-12-03 05:39] vxe commented on #138
@cnuernber is a new version with the changes going to be pushed to be pushed soon?  I'm using a local jar for testing but would more convenient to pull from clojars. thanks

[2020-12-03 17:49] cnuernber commented on #138
For sure.

[2020-12-03 17:57] cnuernber commented on #138
`2.00-alpha-6` is up.

[2020-12-06 23:24] momerath42 opened #140 "Failed to load library on Windows (:libnames construction)"
I'm just starting to try to use this amazing project.  I'm trying to do everything in windows for project-specific reasons.  I could be missing something obvious because I lack experience developing clojure/java/python on windows, but it appears to me that the issue is with https://github.com/clj-python/libpython-clj/blob/master/src/libpython_clj/python/interpreter.clj#L86 `python-library-regex` n

[2020-12-07 15:13] cnuernber commented on #140
It is failing to load python3.8m.dll and python3.8.dll and falling back to  3.6 ... I *think*.

Where is python3.8.dll on your system?

[2020-12-07 19:35] momerath42 commented on #140
in the root anaconda dir, as I specified for :library-path - but it's named python38.dll (no extra period or m)

[2020-12-08 18:30] momerath42 commented on #140
I figured out that if I run powershell through anaconda navigator, libpython-clj finds the 'system' version of the .dll, so I'm no longer stuck.  I still think the way I tried before should theoretically work.

[2020-12-09 01:08] miloscu opened #141 "namespaces not found when using require macro"
consider my code

[code]

[code]

I get the following syntax error:

[code]

this disallows me to do things like

[code]

this works fine
[code]

Can someone help me resolve the issue? I'm not sure what I'm doing wrong

[2020-12-09 08:18] mikub opened #142 "Matrix of setups that work"
Hi everybody! Amazing project, I am still mind blown that this exists!

However upon trying to initialize I am running into:
[code]
I have tried both `1.46` and `2.00-alpha-6` with the same result (for 1.46 it only differs in line number, i.e. `object.clj:419`).

My env is Linux Mint, tried with python 3.5 and 3.6 and currently on JVM 1.8. I also tried on few vanilla VMs/containers and I will cont

[2020-12-09 11:24] jjtolton commented on #142
Hi @mikub!  I agree it would be tremendously helpful to have that matrix.  Maybe using clj-testcontainers there might be a way to do that efficiently?  Regarding your specific issue, I typically use Linux Mint and Python 3.7, which is just what I have lying around, although it also works for me with 3.6. I have a feeling there is some kind of environmental issue that might be affecting your code e

[2020-12-09 11:31] jjtolton commented on #140
Conda is a little tricky but we do have a lot of validation for working pathways.  Here is the [reference setup](https://github.com/clj-python/libpython-clj/blob/master/dockerfiles/CondaDockerfile), would need to be adapted for windows. There are some Powershell specific tips on [Zulip](https://clojurians.zulipchat.com/#narrow/stream/215609-libpython-clj-dev/topic/VS.20Code.20-.20Calva.20Jack-In.2

[2020-12-09 11:35] jjtolton commented on #127
@keesterbrugge, yes -- for now, this is the expected behavior.  `->dataset` is quite powerful, but it doesn't do everything (yet!).  Long term we are working towards a more polymorphic data manipulation interface.

[2020-12-09 20:32] cnuernber commented on #142
@mikub - this is a result of the jna library version conflict.  My guess is some other package is pulling in a version of the jna system that is not the same as specified by the libpython-clj project dependencies.

[2020-12-09 20:33] cnuernber commented on #141
Could you go into the metadata namespace and just compile that file alone in your repl?  When a dependent namespace 'isn't found' a lot of times that is due to a compilation error that is getting swalloed.

[2020-12-09 20:36] cnuernber commented on #140
I think the issue is that we do not have a search mechanism that looks for `python38.dll `, but only `python3.8.dll` and `python3.8m.dll`.

 You can specify the library path directly (which is a PITA) or we can figure out a more clever search mechanism that will detect these sorts of differences.

[2020-12-09 20:37] mikub commented on #142
Thanks @cnuernber! Will check my dependency tree.
In terms of Java versions should I expect different behavior say in 1.8 vs 14 or it shouldn't matter at all?

[2020-12-09 20:39] cnuernber commented on #142
I think 14 at this point will not work as they disabled the bytebuffer constructure that we need to use from a pointer value.

8,11 should work.

[2020-12-09 21:23] mikub commented on #142
@cnuernber indeed it was just a good old jar hell, got it working after excluding a sneaky jna from one other dependency!

So since this was not JVM related (I thought this had something to do with reflection), is it safe to assume my original point (environmental matrix) is a moot point since this should be pretty much working on JVM 1.8 -> 11 and if I understand correctly from docker files also